<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>
      ZONES_TITLE
    </h1>
  </div>
</div>

<div ng-if="$user.isAdmin" class="row">
  <div class="col-lg-12">
    <form role="form" class="form form-filter">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <div ng-if="$user.isAdmin()" class="form-group">
                <label for="owner" translate>ZONES_FILTERS_OWNER</label>

                <user-selector model-id="zonesController.filter.owner" name="owner"
                               placeholder="- {{'INPUT_PLACEHOLDER_ALL' | translate}} -" on-select="zonesController.updateSearch()"></user-selector>
              </div>

              <div class="form-group">
                <label for="location" translate>ZONES_FILTERS_LOCATION</label>
                <location-selector name="location" model-id="zonesController.filter.location"
                                   placeholder="- {{'INPUT_PLACEHOLDER_ALL' | translate}} -" on-select="zonesController.updateSearch()"></location-selector>
              </div>

              <div class="form-group">
                <label translate>ZONES_FILTERS_ZONE</label>
                <ui-select ng-model="zonesController.filter.zone" name="zone"
                           on-remove="zonesController.updateSearch()"
                           on-select="zonesController.updateSearch()">
                  <ui-select-match allow-clear="true" placeholder="- {{'INPUT_PLACEHOLDER_ALL' | translate}} -">
                    {{$select.ngModel.$modelValue}}
                  </ui-select-match>
                  <ui-select-choices
                    repeat="zone.id as zone in rows | filter:{
                  id: $select.search,
                  location: {id: zonesController.filter.location }
                } | limitTo:30">
                    <div ng-bind-html="zone.toString() | uibTypeaheadHighlight:$select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

              <div class="form-group">
                <label translate>ZONES_FILTERS_ZONES</label>
                <ui-select multiple ng-model="zonesController.filter.status" name="status" on-remove="zonesController.updateSearch()" on-select="zonesController.updateSearch()">
                  <ui-select-match placeholder="- {{'INPUT_PLACEHOLDER_ALL' | translate}} -">{{$item.value}}</ui-select-match>
                  <ui-select-choices repeat="name.id as (id, name) in zoneStatuses | filter:$select.search">
                    <div ng-bind-html="name.value | uibTypeaheadHighlight:$select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">

  <div
    ng-repeat="zone in visibleRows"
    class="col-md-6 col-lg-4">
    <div class="panel zone"
         ng-class="{
          'panel-primary': zone.status=='owned',
          'panel-warning': zone.status=='requested',
          'panel-default': zone.status=='free'
          }">
      <div class="panel-heading ellipsis"
           title="{{::zone.id}} - {{::zone.location.type[$language]}} {{::zone.location.name[$language]}}, {{::zone.location.area[$language]}}">
        <i class="fa fa-map-marker fa-fw"></i>
        <span class="hidden">{{zone.id}}</span>
        <strong>{{::zone.id}}</strong>
        {{::zone.location.type[$language]}} {{::zone.location.name[$language]}}, {{::zone.location.area[$language]}}
        <span class="hidden">({zone.status})</span>
        <span class="hidden">{{($user.isAdmin()?'admin':'user')+'_'+zone.status}}</span>
      </div>
      <!-- /.panel-heading -->
      <div>
        <a href ui-sref="auth.zones.view({id: zone.id})" class="thumbnail">
          <img ng-src="{{::zonesController.getStaticMap(zone)}}" width="100%" class="userMap">
        </a>
      </div>

      <ul ng-if="$user.isAdmin()" class="list-group">
        <li class="list-group-item ellipsis owner" ng-init="$state={}">
          <div ng-if="!$state.chooseOwner" class="actions pull-right"
               ng-switch="($user.isAdmin()?'admin':'user')+'_'+zone.status">
            <div class="btn-group">
              <button ng-switch-when="admin_requested" type="button" class="btn btn-danger btn-xs"
                      ng-click="zonesController.rejectRequest(zone)">
                <i class="fa fa-close fa-fw"></i>
              </button>
              <button ng-switch-when="admin_requested" type="button" class="btn btn-success btn-xs"
                      ng-click="zonesController.approveRequest(zone)">
                <i class="fa fa-check fa-fw"></i>
              </button>
              <button ng-if="zone.status=='owned'" type="button"
                      class="btn btn-danger btn-xs" title="{{'ZONES_CARD_TOOLTIP_REMOVE_OWNER' | translate}}"
                      ng-click="zonesController.removeOwner(zone)">
                <i class="fa fa-remove"></i>
              </button>
              <button ng-if="zone.status=='free' && !$state.chooseOwner" type="button"
                      class="btn btn-primary btn-xs" title="{{'ZONES_CARD_TOOLTIP_ADD_OWNER' | translate}}"
                      ng-click="$state.chooseOwner=true">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>

          <user-selector ng-if="$state.chooseOwner"
                         model-id="zone.ownerId"
                         model="zone.owner"
                         name="zone{{zone.id}}-owner"
                         placeholder="{{'ZONES_CARD_SET_OWNER_PLACEHOLDER' | translate}}" input-class="input-sm"
                         btn-class="btn-sm"
                         confirm="true"
                         on-select="zonesController.setOwner(zone, zone.owner); $state.chooseOwner=false"
                         on-cancel="$state.chooseOwner=false"
          ></user-selector>

          <div ng-if="false && $state.chooseOwner"
               ng-class="{'input-group': zonesController.loadingUsers || zonesController.noUsers || zone.owner.id}">
            <input type="text"
                   ng-model="zone.owner" name="owner"
                   placeholder="- {{'INPUT_PLACEHOLDER_ALL' | translate}} -" class="form-control input-sm"
                   uib-typeahead="user as user.getName() for user in zonesController.getUsers($viewValue)"
                   typeahead-loading="zonesController.loadingUsers"
                   typeahead-no-results="zonesController.noUsers"
                   typeahead-wait-ms="200"
                   typeahead-append-to-body="true"
            >

            <div ng-if="zonesController.loadingUsers || zonesController.noUsers" class="input-group-addon">
              <i ng-if="zonesController.loadingUsers" class="glyphicon glyphicon-refresh"></i>
              <i ng-if="zonesController.noUsers" title="{{'ZONES_CARD_TOOLTIP_NO_USERS_FOUND' | translate}}"
                 class="glyphicon glyphicon-remove"></i>
            </div>
            <div ng-if="zone.owner.id" class="input-group-btn">
              <button type="button" class="btn btn-danger btn-sm"
                      ng-click="zone.owner = null; $state.chooseOwner=false">
                <i class="fa fa-close fa-fw"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm"
                      ng-click="zonesController.setOwner(zone, zone.owner); $state.chooseOwner=false">
                <i class="fa fa-check fa-fw"></i>
              </button>
            </div>
          </div>

          <p ng-if="!$state.chooseOwner">
            <a ng-if="zone.ownerId" href ui-sref="auth.users.view({id: zone.ownerId})">
              {{zone.owner.firstName}} {{zone.owner.lastName}}
            </a>
            <span ng-if="!zone.ownerId" translate>ZONES_CARD_AVAILABLE_ZONE</span>
          </p>

        </li>
      </ul>
      <!-- /.panel-body -->
    </div>
  </div>

  <div ng-if="!$user.isAdmin()" class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-map-o fa-fw"></i>
        {{'ZONES_CARD_REQUEST_NEW_ZONE' | translate}}
      </div>
      <!-- /.panel-heading -->
      <div>
        <div class="aspect-map">
          <a class="text-center" href ui-sref="auth.zones.request" style="display:block;">
            <i class="fa fa-plus fa-fw"
               style="font-size: 150px; line-height: 170px; top: 50%; margin-top: -85px; position: absolute; left: 50%; margin-left: -96px;"></i>
          </a>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>
