<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Заявка за зона</h1>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary"
                    ng-disabled="!selectedZone"
                    ng-click="requestZone.request(selectedZone)">
              Заяви
              <i class="fa fa-chevron-right fa-fw"></i>
            </button>
          </div>
        </div>
        <h5>
          <i class="fa fa-edit fa-fw"></i> Заявка за нова зона
        </h5>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <form name="form" role="form">

      <div class="form-group">
        <label>Локация</label>
        <input name="location" type="text" class="form-control"
               ng-model="requestZone.location" required
               uib-typeahead="location as location.id for location in locations | filter:$viewValue | limitTo:10">

        <p ng-if="!requestZone.location.id" class="help-block">Изберете област за да видите свободни зони</p>
      </div>

    </form>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default request">
      <div class="panel-body">
        <zones-map zones="zones" model="selectedZone"></zones-map>
      </div>
    </div>
  </div>

</div>
