<sb-include src="/views/fields/container.html">
  <div>
    <div class="btn-group">
      <button type="button"
             class="btn btn-default"
             aria-describedby="{{::field.name}}HelpBlock"
             ng-disabled="::field.readonly"
             ng-model="field.model"
             uib-btn-radio="true" translate>
        SWITCHER_BUTTON_YES
      </button>
      <button type="button"
             class="btn btn-default"
             aria-describedby="{{::field.name}}HelpBlock"
             ng-disabled="::field.readonly"
             ng-model="field.model"
             uib-btn-radio="false" translate>
        SWITCHER_BUTTON_NO
      </button>
    </div>
  </div>
  <span ng-if="::field.help" id="{{::field.name}}HelpBlock" class="help-block">{{::field.help}}</span>
</sb-include>
