<sb-include src="/views/fields/container.html">
  <input type="number"
         step="{{::field.$attrs.step}}"
         min="{{::field.$attrs.min}}"
         max="{{::field.$attrs.max}}"
         pattern="{{::field.$attrs.pattern}}"
         class="form-control"
         id="{{::field.name}}"
         name="{{::field.name}}"
         aria-describedby="{{::field.name}}HelpBlock"
         placeholder="{{::field.placeholder}}"
         ng-model="field.model"
         ng-change="field.onSelect()"
         ng-required="::field.required"
         parse-number>
</sb-include>
