<sb-include src="/views/fields/container.html">
  <div uib-dropdown dropdown-append-to-body="true">
    <input type="text"
           class="form-control"
           id="{{::field.name}}"
           name="{{::field.name}}"
           aria-describedby="{{::field.name}}HelpBlock"
           placeholder="{{::field.placeholder}}"
           
           ng-model="field.model"
           ng-required="::field.required"
           
           typeahead-append-to-body="false"
           typeahead-editable="true"
           typeahead-focus-first="::field.required"
           typeahead-min-length="1"
           typeahead-on-select="field.onSelect($item, $model, $label)"
           typeahead-template-url="/views/system/typeahead-locations.html"
           
           uib-typeahead="item as item.name.bg for item in field.values | filter:$viewValue | orderBy:field.order | limitTo:30"
    >
  </div>
</sb-include>
