<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
  <ui-gmap-markers ng-if="map.zones.length"
                   models="map.zones"
                   static="true"
                   coords="'self'"
                   type="'cluster'"
                   modelsbyref="true"
                   fit="true"
                   click="map.marker.click"
  >
    <ui-gmap-windows show="'show'">
      <div ng-non-bindable>
        <h6 class="text-muted text-uppercase">отбелязани</h6>
        <h5 class="text-uppercase">{{::species_count}} <small>вида</small></h5>
        <h5 class="text-uppercase">{{::units_count}} <small>индивида</small></h5>
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
<!--+species_count+'<br>Индивиди: '+units_count-->
