<div>
  <ul class="list-unstyled">
    <li><strong>{{parameter.selected.pin.species}}</strong></li>
    <li>{{parameter.selected.pin.getSpecies().label[$root.$language]}}</li>
    <li class="text-1justify">
      <span class="text-muted" translate>LIST_MAP_MARKER_COUNT</span>
      <span class="text-nowrap">{{parameter.selected.pin.count}}</span>
    </li>
    <li class="text-1justify">
      <span class="text-muted" translate>LIST_MAP_MARKER_DATE</span>
      <span class="text-nowrap">{{parameter.selected.pin.observationDateTime|date:'d.MM.yyyy'}}</span>
    </li>
  </ul>
</div>
