<div ng-class="{'input-group': field.loading || field.noResults || (confirm && field.value.id) }">
  <input type="text"
         id="{{name}}"
         name="{{name}}"
         class="form-control {{inputClass}}"
         placeholder="{{placeholder}}"
         ng-blur="field.onSelect()"
         ng-model="field.value"
         ng-required="required"
         typeahead-append-to-body="true"
         typeahead-editable="false"
         typeahead-focus-first="true"
         typeahead-loading="field.loading"
         typeahead-on-select="field.onSelect($item, $model, $label)"
         typeahead-no-results="field.noResults"
         typeahead-template-url="/views/directives/location.html"
         typeahead-wait-ms="200"
         uib-typeahead="location as location.type.bg+' '+location.name.bg+', '+location.area.bg for location in field.getModels($viewValue)"
  >

  <div ng-if="field.loading || field.noResults" class="input-group-addon">
    <i ng-if="field.loading" class="glyphicon glyphicon-refresh"></i>
    <i ng-if="field.noResults" title="Няма намерени локации" class="glyphicon glyphicon-remove"></i>
  </div>
  <div ng-if="confirm && field.value.id" class="input-group-btn">
    <button type="button" class="btn btn-danger {{btnClass}}"
            ng-click="field.cancel($event)">
      <i class="fa fa-close fa-fw"></i>
    </button>
    <button type="button" class="btn btn-success {{btnClass}}"
            ng-click="field.confirm($event)">
      <i class="fa fa-check fa-fw"></i>
    </button>
  </div>
</div>
