<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a ui-sref="auth.dashboard" ui-sref-active="active">
          <i class="fa fa-dashboard fa-fw"></i>
          <translate>NAV_DASHBOARD</translate>
        </a>
      </li>
      <li>
        <a id="private-forms" href=""
           ng-click="$ctrl.isPrivateCollapsed=!$ctrl.isPrivateCollapsed">
          <i class="fa fa-file-text fa-fw"></i>
          <translate>NAV_PRIVATE_FORMS</translate>
          <span ng-if="$ctrl.isPrivateCollapsed && (''|sumLocalCount) > 0" class="badge">{{''|sumLocalCount}}</span>
        </a>
        <ul class="nav collapse" role="menu" aria-labelledby="private-forms" uib-collapse="$ctrl.isPrivateCollapsed">
          <li ng-repeat="(key, form) in ::$ctrl.forms" translate-attr="::{title: form.longLabel}">
            <a ui-sref="auth.monitoring.private.{{::key}}" ui-sref-active="active">
              <i class="icon icon-{{::key}} icon-fw"></i>
              {{form.shortLabel | translate}} <span ng-if="form.modelRef.localCount > 0" class="badge">{{form.modelRef.localCount}}</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a id="public-forms" href=""
           ng-click="$ctrl.isPublicCollapsed=!$ctrl.isPublicCollapsed">
          <i class="fa fa-file fa-fw"></i>
          <translate>NAV_PUBLIC_FORMS</translate>
        </a>
        <ul class="nav collapse" role="menu" aria-labelledby="public-forms" uib-collapse="$ctrl.isPublicCollapsed">
          <li ng-repeat="(key, form) in ::$ctrl.forms" translate-attr="::{title: form.longLabel}">
            <a ui-sref="auth.monitoring.public.{{::key}}" ui-sref-active="active">
              <i class="icon icon-{{::key}} icon-fw"></i>
              {{form.shortLabel | translate}}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a id="stats" href=""
           ng-click="$ctrl.isStatsCollapsed=!$ctrl.isStatsCollapsed">
          <i class="fa fa-bar-chart fa-fw"></i>
          <translate>NAV_STATS</translate>
        </a>
        <ul class="nav collapse" role="menu" aria-labelledby="stats" uib-collapse="$ctrl.isStatsCollapsed">
          <li ng-repeat="(key, form) in ::$ctrl.forms" ng-if="form.hasStats" translate-attr="::{title: form.longLabel}">
            <a ui-sref="auth.stats.{{::key}}" ui-sref-active="active">
              <i class="icon icon-{{::key}} icon-fw"></i>
              {{form.shortLabel | translate}}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a ui-sref="auth.zones({status:['requested','owned'], location: undefined, owner: undefined})"
           ui-sref-active="active">
          <i class="fa fa-map-o fa-fw"></i>
          <translate>NAV_ZONES</translate>
          <span ng-if="main.zonesIndicator" class="badge" translate-attr="{title: 'NAV_ZONES_REQUESTED'}">
            {{main.zonesIndicator}}
          </span>
        </a>
      </li>
      <li ng-if="$root.$user.isAdmin()">
        <a ui-sref="auth.users" ui-sref-active="active">
          <i class="fa fa-users fa-fw"></i>
          <translate>NAV_USERS</translate>
        </a>
      </li>
      <li ng-if="$root.$user.isAdmin() || $root.$user.isModerator('cbm')">
        <a ui-sref="auth.visits" ui-sref-active="active">
          <i class="fa fa-calendar fa-fw"></i>
          <translate>NAV_VISITS</translate>
        </a>
      </li>
      <li ng-if="$root.$user.isAdmin()">
        <a ui-sref="auth.nomenclatures" ui-sref-active="active">
          <i class="fa fa-database fa-fw"></i>
          <translate>NAV_NOMENCLATURES</translate>
        </a>
      </li>
      <li ng-if="$root.$user.isAdmin()">
        <a ui-sref="auth.species" ui-sref-active="active">
          <i class="fa fa-database fa-fw"></i>
          <translate>NAV_SPECIES</translate>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
