<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Площадки
        </h1>
    </div>
</div>

<div ng-if="$user.isAdmin" class="row">
    <div class="col-lg-12">
        <form role="form" class="form form-filter">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label>Локация</label>
                                <input name="location" type="text" class="form-control"
                                       ng-model="data.filter.location"
                                       placeholder="- всички -"
                                       uib-typeahead="location as location.id for location in ::areaLocations | filter:$viewValue | limitTo:10">
                            </div>

                            <div class="form-group">
                                <label>Площадки</label>
                                <ui-select multiple ng-model="data.filter.status" name="status">
                                    <ui-select-match placeholder="- всички -">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="status in data.statuses | filter:$select.search">
                                        <div ng-bind-html="status | uibTypeaheadHighlight:$select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label>Наблюдател</label>
                                <ui-select multiple ng-model="data.filter.owner" name="owner">
                                    <ui-select-match placeholder="- всички -">{{$item}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="owner in data.users | filter:$select.search | limitTo:10">
                                        <div ng-bind-html="owner | uibTypeaheadHighlight:$select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label>Последно преброяване</label>
                                <ui-select ng-model="data.filter.last_monitoring" name="last_monitoring">
                                    <ui-select-match placeholder="- без значение -">{{$select.selected}}
                                    </ui-select-match>
                                    <ui-select-choices
                                        repeat="monitoring in data.monitorings | filter:$select.search | limitTo:10">
                                        <div ng-bind-html="monitoring | uibTypeaheadHighlight:$select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">

    <div
        ng-repeat="zone in rows | filter:zonesController.filterZones($user.isAdmin?data.filter:false) | limitTo:25"
        class="col-md-6 col-lg-4">
        <div class="panel zone"
             ng-class="zone.status=='owned'?'panel-primary':zone.status=='requested'?'panel-warning':'panel-default'">
            <div class="panel-heading">
                <i class="fa fa-map-o fa-fw"></i>
                {{zone.location.type.bg}} {{zone.location.name.bg}}, {{zone.location.area.bg}}
                <span class="hidden">({{zone.status}})</span>

                <div class="pull-right">
                    <div class="btn-group" ng-switch="($user.isAdmin?'admin':'user')+'_'+zone.status">
                        <button ng-switch-when="admin_requested" type="button" class="btn btn-danger btn-xs"
                                ng-click="zone.status='free'; zone.owner = null;">
                            <i class="fa fa-close fa-fw"></i>
                        </button>
                        <button ng-switch-when="admin_requested" type="button" class="btn btn-success btn-xs"
                                ng-click="zone.status='owned';">
                            <i class="fa fa-check fa-fw"></i>
                        </button>
                        <button ng-switch-when="user_owned" type="button" class="btn btn-default btn-xs">
                            <i class="fa fa-print fa-fw"></i>
                        </button>
                        <button ng-switch-when="user_owned" type="button" class="btn btn-default btn-xs">
                            <i class="fa fa-download fa-fw"></i>
                        </button>
                        <button ng-switch-when="user_owned" type="button" class="btn btn-default btn-xs">
                            <i class="fa fa-edit fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!--<img src="/img/map_placeholder.gif" width="100%" class="userMap">-->
                <ui-gmap-google-map center='zone.getCenter()' zoom='14' options="{mapTypeId: 'satellite'}">
                    <ui-gmap-polygon static="true"
                                     path="zone.coordinates"
                                     fill="{color: zone.status=='free'?'#fff':zone.status=='owned'?'#f00':'#f90', opacitiy: 0.4}"
                                     stroke="{color: zone.status=='free'?'#fff':zone.status=='owned'?'#f00':'#f90', opacity: 0.7, weight: 0.5}"
                                     geodesic="true"
                                     fit="true"
                        ></ui-gmap-polygon>
                </ui-gmap-google-map>
            </div>

            <ul ng-if="$user.isAdmin" class="list-group">
                <li class="list-group-item owner" ng-init="zone.$chooseOwner = false">
                    <ui-select ng-if="zone.$chooseOwner" ng-model="zone.owner">
                        <ui-select-match placeholder="Изберете наблюдател">
                            {{$select.selected}}
                            <div class="pull-right">
                                <button role="button" class="btn btn-danger btn-xs"
                                        ng-click="zone.owner=null; zone.$chooseOwner=false;">
                                    <i class="fa fa-close"></i>
                                </button>
                                <button role="button" class="btn btn-success btn-xs"
                                        ng-click="zone.status='owned'; zone.$chooseOwner=false;">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="owner in data.users | filter:$select.search | limitTo:10">
                            <div ng-bind-html="owner | uibTypeaheadHighlight:$select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span ng-if="$user.isAdmin && !zone.$chooseOwner">
                        <a ng-if="zone.owner" href>{{zone.owner.firstName}} {{zone.owner.lastName}}</a>
                        <span ng-if="!zone.owner">свободна площадка</span>
                    </span>

                    <div class="actions pull-right">
                        <div class="btn-group">
                            <button ng-if="$user.isAdmin && zone.status=='owned'" type="button"
                                    class="btn btn-danger btn-xs" title="Премахване на наблюдател"
                                    ng-click="zone.status='free'; zone.owner = null;">
                                <i class="fa fa-remove"></i>
                            </button>
                            <button ng-if="$user.isAdmin && zone.status=='free' && !zone.$chooseOwner" type="button"
                                    class="btn btn-primary btn-xs" title="Добавяне на наблюдател"
                                    ng-click="zone.$chooseOwner=true">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- /.panel-body -->
        </div>
    </div>

    <div ng-if="!$user.isAdmin" class="col-md-6 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-o fa-fw"></i>
                Request new zone
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="aspect-map">
                    <a class="text-center" href ui-sref="auth.zones.request" style="display:block;">
                        <i class="fa fa-plus fa-fw"
                           style="font-size: 150px; line-height: 170px; top: 50%; margin-top: -85px; position: absolute; left: 50%; margin-left: -96px;"></i>
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
