<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Request zone</h1>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-edit fa-fw"></i> Request new form
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs" ui-sref="auth.zones"
                                ng-disabled="!form.zone"
                                ng-click="form.zone.status='requested';form.zone.owner=$user.name;">
                            Request
                            <i class="fa fa-chevron-right fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <form name="form" role="form">

            <div class="form-group">
                <label>Локация</label>
                <input name="location" type="text" class="form-control"
                       ng-model="zone.location" required
                       uib-typeahead="location for location in data.locations | filter:$viewValue | limitTo:10">

                <p class="help-block">Select location to see available zones</p>
            </div>

        </form>
    </div>

    <div
        ng-repeat="zone in data.zones | filter:{location:form.location.$modelValue, status: 'free'} | limitTo: 20"
        class="col-md-6 col-lg-4">
        <div class="panel panel-{{form.zone == zone ? 'primary' : 'default'}}" ng-click="form.zone = zone">
            <div class="panel-body">
                <img src="/img/map_placeholder.gif" width="100%">
            </div>
        </div>
    </div>
</div>
