.aspect-map {
  width: 100%;
  padding-bottom: 80%;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.toolbar {
  margin-top: -15px;
  margin-bottom: 20px;
}

@media (min-width: @screen-sm-min) {
  .form-filter .form-group {
    display: inline-block;
    max-width: 30%;
    float: left;
    padding: 5px;

  }
}

.zone {
  .panel;

  .thumbnail {
    margin:0;
    border-radius: 0;
    padding: 0;
    //border: none;
  }
}

.angular-google-map-container{
  height: auto;
  width:100%;
  padding-top: 60%;
  position: relative;

  [home-map] & {
    height: 60vh;
    padding-top: 0;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media print {
  #page-wrapper {
    margin: 0;
    border: none;
  }

  img {
    max-width: none !important;
  }
}


/*
 * Timepicker element
 */

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 48px;
  }
}

.footer {
  @media(min-width:768px) {
    .container-fluid {
      margin: 0 0 0 250px;
      padding: 0 30px;
      border-left: 1px solid darken(@gray-lightest, 6.5%);
    }
  }
  .copyright, .revision {
    margin: 2em 0;
  }
}


.sorted {
  white-space: nowrap;
  &.asc:after {
    content: "▲";
  }
  &.desc:after {
    content: "▼";
  }
  &:after {
    .text-muted;
    display: inline-block;
  }
}

.logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  vertical-align: middle;
  &.bspb {
    background-image: url('/img/logo-bspb.jpg');
    background-size: 90% auto;
  }
  &.eea {
    width: 180px;
    background-image: url('/img/logo-eea.jpg');
  }
}

header.heroimage {
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 25%;
  position: relative;

  @media (max-width: @grid-float-breakpoint-max) {
    margin-top: 50px;
  }
}

footer.home {
  background: #fff;
  border-top: 1px solid #eee;
  padding-top: 20px;

  .copyright {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: @grid-float-breakpoint) {
  .navbar-transparent {
    background-color: fadeout(@navbar-default-bg, 20%);
  }
}

.text-1justify {
  text-align-last: justify;
}

td.actions {
  vertical-align: middle !important;
  &.actions-2 {
    width: 110px;
  }
}
