<div lang="en">
  <p>Hi, <%= name %></p>

  <p>Thanks for signing up and welcome to SmartBirds!</p>
</div>

<hr>

<div lang="bg">
  <p>Здравейте, <%= name %></p>

  <p>Благодарим Ви за регистрацията и добре дошли в SmartBirds!</p>
</div>
