<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>
      SPECIES_TITLE
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="(type, list) in $ctrl.species"
          ng-class="{'list-group-item-info': $ctrl.selected.type === type}">
        <a href ui-sref=".({type: type})">
          <span class="badge pull-right">{{(list|toArray).length}}</span>
          {{type|humanize}}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-9">
    <form name="editform"
          role="form"
          confirm-on-exit="editform.$dirty"
          confirm-message-window="{{'SPECIES_UNSAVED_DATA_TITLE' | translate}}"
          confirm-message-route="{{'SPECIES_UNSAVED_DATA_MESSAGE' | translate}}">
      <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
          <th>#</th>
          <th>LA</th>
          <th>BG</th>
          <th>EN</th>
          <th class="btn-group btn-group-xs">
            <button
              type="button"
              class="btn btn-info btn-xs"
              title="{{'SPECIES_BUTTON_ADD' | translate}}"
              ng-click="$ctrl.add()">
              <i class="fa fa-plus fa-fw"></i>
            </button>
            <button ng-disabled="editform.$pristine"
                    type="button"
                    class="btn btn-success btn-xs"
                    title="{{'SPECIES_BUTTON_SAVE' | translate}}"
                    ng-click="$ctrl.save()">
              <i class="fa fa-check fa-fw"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover" ng-repeat="item in $ctrl.selected.species">
          <td>{{$index+1}}</td>
          <td>
            <field type="text"
                   model="item.label.la"
                   required></field>
          </td>
          <td>
            <field type="text"
                   model="item.label.bg"></field>
          </td>
          <td>
            <field type="text"
                   model="item.label.en"></field>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-xs visible-hover"
                    ng-click="$ctrl.remove($index)">
              <i class="fa fa-remove fa-fw"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>#</th>
          <th>LA</th>
          <th>BG</th>
          <th>EN</th>
          <th class="btn-group btn-group-xs">
            <button
              type="button"
              class="btn btn-info btn-xs"
              title="{{'SPECIES_BUTTON_ADD' | translate}}"
              ng-click="$ctrl.add()">
              <i class="fa fa-plus fa-fw"></i>
            </button>
            <button ng-disabled="editform.$pristine"
                    type="button"
                    class="btn btn-success btn-xs"
                    title="{{'SPECIES_BUTTON_SAVE' | translate}}"
                    ng-click="$ctrl.save()">
              <i class="fa fa-check fa-fw"></i>
            </button>
          </th>
        </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
