<div class="row">
  <div class="col-md-12">
    <h1 class="page-header" translate>
      CHANGE_PASSWORD_TITLE
    </h1>
  </div>

  <div class="col-md-12">
    <form name="user.form"
          role="form"
          autocomplete="off">

      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
      <input ng-if="!user.hideFake" type="text" name="fakeusernameremembered1"/>
      <input ng-if="!user.hideFake" type="password" name="fakepasswordremembered1"/>

      <field name="oldPassword" type="password" required="true"
             label="{{'CHANGE_PASSWORD_OLD_PASSWORD' | translate}}"
             autocomplete="off"
             model="user.data.oldPassword"
      ></field>

      <field name="newPassword" type="password" required="true"
             label="{{'CHANGE_PASSWORD_NEW_PASSWORD' | translate}}"
             autocomplete="off"
             model="user.data.newPassword"
      ></field>

      <field name="confirmPassword" type="password2" required="true"
             match="user.data.newPassword"
             label="{{'CHANGE_PASSWORD_REPEAT_PASSWORD' | translate}}"
             autocomplete="off"
             model="user.data.confirmPassword"
      ></field>

      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
      <input ng-if="!user.hideFake"  type="text" name="fakeusernameremembered2"/>
      <input ng-if="!user.hideFake" type="password" name="fakepasswordremembered2"/>

      <div class="btn-group">
        <button type="button" class="btn btn-primary"
                ng-disabled="user.form.$pristine || user.form.$invalid"
                ng-click="user.changePassword()" translate>
          CHANGE_PASSWORD_BUTTON_CHANGE_PASSWORD
        </button>
      </div>
    </form>
  </div>
</div>
