<div class="row">
  <div class="col-md-12">
    <h1 ng-if="user.data.id" class="page-header">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary"
                  ng-disabled="user.form.$pristine || user.form.$invalid"
                  ng-click="user.save()">
            Запис
            <i class="fa fa-save fa-fw"></i>
          </button>
        </div>
      </div>
      <span ng-if="!user.data.id">Нов потребител</span>
      <span ng-if="user.data.id">Редакция на профил</span>
    </h1>
  </div>

  <div class="col-md-12">
    <form name="user.form"
          role="form"
          confirm-on-exit="user.form.$dirty"
          confirm-message-window="Имате незаписани промени!"
          confirm-message-route="Имате незаписани промени. Сигурни ли сте че искате да продължите?">

      <field ng-if="$user.isAdmin()" name="admin" type="bool"
             label="Администратор"
             model="user.data.isAdmin"
      ></field>

      <field name="firstName" type="text" required="true"
             label="Име"
             model="user.data.firstName"
      ></field>

      <field name="lastName" type="text" required="true"
             label="Фамилия"
             model="user.data.lastName"
      ></field>

      <field name="email" type="email" required="true"
             label="E-mail" readonly="user.data.id"
             model="user.data.email"
      ></field>

      <field ng-if="!user.data.id"
             name="password" type="password" required="true"
             label="Парола"
             model="user.data.password"
      ></field>

      <field name="address" type="text"
             label="Адрес"
             model="user.data.address"></field>

      <field name="city" type="text"
             label="Град"
             model="user.data.city"></field>

      <field name="postcode" type="text"
             label="Пощенски код"
             model="user.data.postcode"></field>

      <field name="phone" type="phone"
             label="Телефон"
             model="user.data.phone"></field>

      <field name="mobile" type="phone"
             label="Моб. телефон"
             model="user.data.mobile"></field>

      <field name="birds_knowledge" type="select"
             choices="['начинаещ', 'напреднал', 'професионалист']"
             label="Ниво на познание на птиците"
             placeholder="- няма -"
             model="user.data.birdsKnowledge"></field>

      <field name="profile" type="text"
             label="Профил"
             model="user.data.profile"></field>

      <field name="level" type="select"
             choices="['първо', 'второ']"
             label="Ниво"
             placeholder="- няма -"
             model="user.data.level"></field>

      <field name="notes" type="memo"
             label="Бележки"
             model="user.data.notes"></field>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-primary"
                ng-disabled="user.form.$pristine || user.form.$invalid"
                ng-click="user.save()">
          Запис
          <i class="fa fa-save fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
</div>
