<div class="row">
  <div class="col-md-12">
    <h1 ng-if="user.data.id" class="page-header">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary"
                  ng-disabled="user.form.$pristine || user.form.$invalid"
                  ng-click="user.save()">
            {{'USER_DETAIL_BUTTON_SAVE' | translate}}
            <i class="fa fa-save fa-fw"></i>
          </button>
        </div>
      </div>
      <span ng-if="!user.data.id" translate>USER_DETAIL_TITLE_NEW</span>
      <span ng-if="user.data.id" translate>USER_DETAIL_TITLE_EDIT</span>
    </h1>
  </div>

  <div class="col-md-12">
    <form name="user.form"
          role="form"
          autocomplete="off"
          confirm-on-exit="user.form.$dirty"
          confirm-message-window="{{'USER_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
          confirm-message-route="{{'USER_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">

      <field name="firstName" type="text" required="true"
             label="{{'USER_DETAIL_FIRST_NAME' | translate}}"
             model="user.data.firstName"
      ></field>

      <field name="lastName" type="text" required="true"
             label="{{'USER_DETAIL_LAST_NAME' | translate}}"
             model="user.data.lastName"
      ></field>

      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
      <input ng-if="!user.hideFake" type="text" name="fakeusernameremembered1"/>
      <input ng-if="!user.hideFake" type="password" name="fakepasswordremembered1"/>

      <field name="email" type="email" required="true"
             label="{{'USER_DETAIL_EMAIL' | translate}}" readonly="user.data.id"
             autocomplete="off"
             model="user.data.email"
      ></field>

      <field ng-if="!user.data.id"
             name="password" type="password" required="true"
             label="{{'USER_DETAIL_PASSWORD' | translate}}"
             autocomplete="off"
             model="user.data.password"
      ></field>

      <field ng-if="$user.getIdentity().id === user.data.id" language-switcher name="language" type="select"
             choices="[{id: 'bg', label: 'LANGUAGE_BULGARIAN'}, {id: 'en', label: 'LANGUAGE_ENGLISH'}]"
             label="{{'USER_DETAIL_LANGUAGE' | translate}}"
             model="user.data.language"
             on-select="$ctrl.changeLanguage(model)"></field>

      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
      <input ng-if="!user.hideFake" type="text" name="fakeusernameremembered2"/>
      <input ng-if="!user.hideFake" type="password" name="fakepasswordremembered2"/>

      <field name="address" type="text"
             label="{{'USER_DETAIL_ADDRESS' | translate}}"
             model="user.data.address"></field>

      <field name="city" type="text"
             label="{{'USER_DETAIL_CITY' | translate}}"
             model="user.data.city"></field>

      <field name="postcode" type="text"
             label="{{'USER_DETAIL_POST_CODE' | translate}}"
             model="user.data.postcode"></field>

      <field name="phone" type="phone"
             label="{{'USER_DETAIL_PHONE' | translate}}"
             model="user.data.phone"></field>

      <field name="mobile" type="phone"
             label="{{'USER_DETAIL_MOBILE' | translate}}"
             model="user.data.mobile"></field>

      <field name="birds_knowledge" type="select"
             choices="[{id: 'beginner', label: 'USER_DETAIL_BIRDS_KNOWLEDGE_BEGINNER'}, {id: 'advanced', label: 'USER_DETAIL_BIRDS_KNOWLEDGE_ADVANCED'}, {id: 'professional', label: 'USER_DETAIL_BIRDS_KNOWLEDGE_PROFESSIONAL'}]"
             label="{{'USER_DETAIL_BIRDS_KNOWLEDGE' | translate}}"
             placeholder="- {{'USER_DETAIL_BIRDS_KNOWLEDGE_NONE' | translate}} -"
             model="user.data.birdsKnowledge"></field>

      <field name="profile" type="text"
             label="{{'USER_DETAIL_PROFILE' | translate}}"
             model="user.data.profile"></field>

      <field name="level" type="select"
             choices="[{id: 'first', label: 'USER_DETAIL_LEVEL_FIRST'}, {id: 'second', label: 'USER_DETAIL_LEVEL_SECOND'}]"
             label="{{'USER_DETAIL_LEVEL' | translate}}"
             placeholder="- {{'USER_DETAIL_LEVEL_NONE' | translate}} -"
             model="user.data.level"></field>

      <field name="notes" type="memo"
             label="{{'USER_DETAIL_NOTES' | translate}}"
             model="user.data.notes"></field>


      <div ng-if="$user.isAdmin()">
        <hr>

        <h3 translate>USER_DETAIL_RIGHTS</h3>

        <field name="role" type="select" disabled="!$user.isAdmin()"
               choices="[{id: 'user', label: 'USER_DETAIL_ROLE_USER'}, {id: 'moderator', label: 'USER_DETAIL_ROLE_MODERATOR'}, {id: 'admin', label: 'USER_DETAIL_ROLE_ADMIN'}]"
               label="{{'USER_DETAIL_ROLE' | translate}}"
               model="user.data.role"></field>

        <field name="forms" type="checkbox-group"
               disabled="user.data.role !== 'moderator'"
               choices="user.moderatorForms"
               label="{{'USER_DETAIL_FORMS' | translate}}"
               model="user.data.forms"></field>
      </div>

      <hr>

      <h3 translate>USER_DETAIL_SIGNATURE</h3>

      <img ng-src="{{user.data.getBannerUrl()}}">

      <div class="form-group">
        <label class="control-label"
               for="banner1" translate>USER_DETAIL_EMBED_IN_BB_FORUM</label>
        <input type="text"
               id="banner1"
               class="form-control"
               value="[URL=https://smartbirds.org/][IMG]{{user.data.getBannerUrl()}}[/IMG][/URL]"
               readonly>
      </div>
      <div class="form-group">
        <label class="control-label"
               for="banner3" translate>USER_DETAIL_ALTERNATIVE_EMBED_IN_BB_FORUM</label>
        <input type="text"
               id="banner3"
               class="form-control"
               value="[URL=https://smartbirds.org/][IMG={{user.data.getBannerUrl()}}][/IMG][/URL]"
               readonly>
      </div>
      <div class="form-group">
        <label class="control-label"
               for="banner2" translate>USER_DETAIL_EMBED_HTML</label>
        <input type="text"
               id="banner2"
               class="form-control"
               value='<a href="https://smartbirds.org/"><img src="{{user.data.getBannerUrl()}}" border="0"></a>'
               readonly>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-primary"
                ng-disabled="user.form.$pristine || user.form.$invalid"
                ng-click="user.save()">
          {{'USER_DETAIL_BUTTON_SAVE' | translate}}
          <i class="fa fa-save fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
</div>
