Someone requested to reset your password.

<a href="http://sb.87.252.173.51.xip.io:8080/reset_password?token=<%= passwordToken %>">Click here to reset your password</a>

You don't need to do anything if it wasn't you. Your current password is active.
