Someone requested to reset your password.

<a href="https://smartbirds.org/reset?token=<%= passwordToken %>&email=<%= email %>">Click here to reset your password</a>

You don't need to do anything if it wasn't you. Your current password is active.
