<div lang="en">
  <p>Someone requested to reset your password.</p>

  <p><a href="https://smartbirds.org/reset?token=<%= passwordToken %>&email=<%= email %>">Click here to reset your
      password</a></p>

  <p>You don't need to do anything if it wasn't you. Your current password is active.</p>
</div>

<hr>

<div lang="bg">
  <p>Някой поиска да смени вашата парола.</p>

  <p><a href="https://smartbirds.org/reset?token=<%= passwordToken %>&email=<%= email %>">
      Натиснете тук, за да смените вашата парола.
    </a></p>

  <p>Не е нужно да правите нищо, ако не сте поискали вие. Текущата ви парола е активна.</p>
</div>
