<ul class="list-inline">
  <li>
    <a href="/#forms" translate>NAV_FORMS</a>
  </li>
  <li class="footer-menu-divider">&sdot;</li>
  <li>
    <a href="/#mobile" translate>NAV_MOBILE</a>
  </li>
  <li class="footer-menu-divider">&sdot;</li>
  <li>
    <a href="/#about" translate>NAV_ABOUT</a>
  </li>
  <li class="footer-menu-divider">&sdot;</li>
  <li>
    <a href="/#funding" translate>NAV_FUNDING</a>
  </li>
</ul>
<p class="copyright text-muted small">
  Copyright &copy;
  <a href="http://bspb.org" target="_blank" translate>COPYRIGHT_OWNER</a>
  2015-2018.
  |
  <a href ng-click="showTos()" translate>TOS_LABEL</a>
  |
  <a ui-sref="gdpr" translate>GDPR_LABEL</a>
</p>
