<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbar.collapsed = !navbar.collapsed">
        <span class="sr-only" translate>TOGGLE_NAVIGATION</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" ui-sref="home" translate>SITE_NAME</a>
    </div>

    <nav class="navbar-collapse" uib-collapse="!navbar.collapsed">
      <ul class="nav navbar-nav navbar-right">
        <li language-switcher class="language">
          <a ng-click="$ctrl.changeLanguage('bg')">BG</a>
        </li>
        <li language-switcher class="language">
          <a ng-click="$ctrl.changeLanguage('en')">EN</a>
        </li>
        <li ng-if="'home' | isState">
          <a href ui-sref="home" sb-scroll-to="[name=forms]" translate>NAV_FORMS</a>
        </li>
        <li ng-if="$state.current.name!=='home'" class="dropdown" uib-dropdown>
          <a href role="button" id="forms-dropdown" type="button" class="dropdown-toggle" uib-dropdown-toggle>
            <span translate>NAV_FORMS</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="forms-dropdown">
            <li translate-attr="{title: 'FORM_CBM_LONG'}"><a href ui-sref="cbm">
              <i class="icon icon-cbm icon-fw"></i>
              <span translate>FORM_CBM_SHORT</span>
            </a></li>
            <li translate-attr="{title: 'FORM_BIRDS_LONG'}"><a href ui-sref="birds">
              <i class="icon icon-birds icon-fw"></i>
              <span translate>FORM_BIRDS_SHORT</span>
            </a></li>
            <li translate-attr="{title: 'FORM_HERPTILES_LONG'}"><a href ui-sref="herptiles">
              <i class="icon icon-herptiles icon-fw"></i>
              <span translate>FORM_HERPTILES_SHORT</span>
            </a></li>
            <li translate-attr="{title: 'FORM_MAMMALS_LONG'}"><a href ui-sref="mammals">
              <i class="icon icon-mammals icon-fw"></i>
              <span translate>FORM_MAMMALS_SHORT</span>
            </a></li>
            <li translate-attr="{title: 'FORM_INVERTEBRATES_LONG'}"><a href ui-sref="invertebrates">
              <i class="icon icon-insects icon-fw"></i>
              <span translate>FORM_INVERTEBRATES_SHORT</span>
            </a></li>
            <li translate-attr="{title: 'FORM_CICONIA_LONG'}"><a href ui-sref="ciconia">
              <i class="icon icon-ciconia icon-fw"></i>
              <span translate>FORM_CICONIA_SHORT</span>
            </a></li>
          </ul>
        </li>
        <li>
          <a href ui-sref="home" sb-scroll-to="[name=about]" translate>NAV_ABOUT</a>
        </li>
        <li>
          <a href ui-sref="home" sb-scroll-to="[name=funding]" translate>NAV_FUNDING</a>
        </li>
        <li>
          <a href ui-sref="home" sb-scroll-to="[name=mobile]" translate>NAV_MOBILE</a>
        </li>
        <li>
          <a href ng-if="!$user.isAuthenticated()" ui-sref="login" translate>NAV_LOGIN</a>
          <a href ng-if="$user.isAuthenticated()" ui-sref="auth.dashboard" translate>NAV_DASHBOARD</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /.container -->
</nav>
