<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Начало</h1>
    </div>
</div>

<div ng-if="$user.isAdmin" class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3"><i class="fa fa-map fa-5x"></i></div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">3</div>
                        <div>Заявки</div>
                    </div>
                </div>
            </div>
            <a href ui-sref="auth.zones">
                <div class="panel-footer"><span class="pull-left">Преглед</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>TODO</p>
    </div>
</div>
