<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>DASHBOARD_TITLE</h1>
  </div>
</div>

<div class="row">
  <div ng-if="$user.isAdmin() || $user.isModerator('cbm')" class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <p class="col-xs-3"><i class="fa fa-map-marker fa-5x"></i></p>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.pendingZones.length|plusify:9}}</div>
            <div translate>DASHBOARD_CARD_REQUESTS</div>
          </div>
        </div>
      </div>
      <a href ui-sref="auth.zones({status: 'requested'})">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_REQUESTS_REVIEW</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-cbm"></i>
          {{'DASHBOARD_CARD_CBM' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.cbm.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-birds"></i>
          {{'DASHBOARD_CARD_BIRDS' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.birds.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-herptiles"></i>
          {{'DASHBOARD_CARD_HERPTILES' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.herptiles.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-mammals"></i>
          {{'DASHBOARD_CARD_MAMMALS' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.mammals.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-invertebrates"></i>
          {{'DASHBOARD_CARD_INVERTEBRATES' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.invertebrates.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="huge text-center">
          <i class="icon icon-ciconia"></i>
          {{'DASHBOARD_CARD_CICONIA' | translate}}
        </p>
      </div>
      <a href ui-sref="auth.monitoring.private.ciconia.new">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_NEW_ENTRY</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
