<div class="modal-header">
  <button type="button" class="close" translate-attr="{'aria-label': 'BTN_ARIA_LABEL_CLOSE'}" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title" id="modal-title" translate>GDPR_TITLE</h3>
</div>
<div class="modal-body" id="modal-body" ng-init="values = {
  contactStart: '<a href=\'mailto:smartbirds.pro@bspb.org\'>',
  contactEnd: '</a>'
  }">
  <h4 translate="GDPR_SECTION01_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION01_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION02_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION02_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION03_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION03_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION04_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION04_BODY01" translate-values="values"></p>
  <ul>
    <li><p translate="GDPR_SECTION04_LIST01" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_LIST02" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_LIST03" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_LIST04" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_LIST05" translate-values="values"></p></li>
  </ul>
  <p translate="GDPR_SECTION04_BODY02" translate-values="values"></p>
  <p translate="GDPR_SECTION04_BODY03" translate-values="values"></p>
  <p translate="GDPR_SECTION04_BODY04" translate-values="values"></p>
  <ul>
    <li><p translate="GDPR_SECTION04_2_LIST01" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_2_LIST02" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_2_LIST03" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION04_2_LIST04" translate-values="values"></p></li>
  </ul>

  <h4 translate="GDPR_SECTION05_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION05_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION06_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION06_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION07_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION07_BODY" translate-values="values"></p>
  <ul>
    <li><p translate="GDPR_SECTION07_LIST01" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION07_LIST02" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION07_LIST03" translate-values="values"></p></li>
  </ul>

  <h4 translate="GDPR_SECTION08_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION08_BODY" translate-values="values"></p>
  <ul>
    <li><p translate="GDPR_SECTION08_LIST01" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION08_LIST02" translate-values="values"></p></li>
    <li><p translate="GDPR_SECTION08_LIST03" translate-values="values"></p></li>
  </ul>

  <h4 translate="GDPR_SECTION09_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION09_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION10_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION10_BODY" translate-values="values"></p>

  <h4 translate="GDPR_SECTION11_TITLE" translate-values="values"></h4>
  <p translate="GDPR_SECTION11_BODY" translate-values="values"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$dismiss()" translate>BTN_OK</button>
</div>
