<ng-include src="'/views/layout/navbar.html'"></ng-include>

<!-- Page Header -->
<header class="heroimage birds"></header>

<!-- Main Content -->
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="site-heading">
          <h1 translate>PUBLIC_BIRDS_TITLE</h1>
          <h2 translate>PUBLIC_BIRDS_SUBTITLE</h2>
          <hr class="small">
          <div home-map form="birds"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_TOP_OBSERVERS_RECORDS_MONTH</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr ng-repeat="label in ['Иван 156 записа', 'Весо 123 записа', 'Киро 67 записа', 'Аля 45 записа']">
                  <td>{{::$index+1}}. {{::label}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_TOP_OBSERVERS_SPECIES_MONTH</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr ng-repeat="label in ['Иван 156 вида', 'Весо 123 вида', 'Киро 67 вида', 'Аля 45 вида']">
                  <td>{{::$index+1}}. {{::label}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_TOP_OBSERVERS_RECORDS_YEAR</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr ng-repeat="label in ['Иван 156 записа', 'Весо 123 записа', 'Киро 67 записа', 'Аля 45 записа']">
                  <td>{{::$index+1}}. {{::label}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_TOP_OBSERVERS_SPECIES_YEAR</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr ng-repeat="label in ['Иван 156 вида', 'Весо 123 вида', 'Киро 67 вида', 'Аля 45 вида']">
                  <td>{{::$index+1}}. {{::label}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_TOP_SPECIES_MONTH</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr
                  ng-repeat="label in [{species: 'Кокошка', count: 12345}, {species: 'Белушка', count: 2345}, {species: 'Синигер', count: 345}, {species: 'Невестарка', count: 45}, {species: 'Ябълка', count: 5}]">
                  <td>{{::$index+1}}.</td>
                  <td>{{::label.species}}</td>
                  <td class="text-right">{{::label.count}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3 translate>PUBLIC_BIRDS_LAST_INTERESTING_SPECIES</h3>
              <table class="table table-striped table-hover table-condensed">
                <tbody>
                <tr ng-repeat="label in [
                {species: 'Кокошка', count: 12345, date: '10.01.2018', place: 'Пловдив', observer: 'Иван Иванов Иванов'},
                {species: 'Белушка', count: 2345, date: '10.01.2018', place: 'Пловдив', observer: 'Иван Иванов Иванов'},
                {species: 'Синигер', count: 345, date: '10.01.2018', place: 'Пловдив', observer: 'Иван Иванов Иванов'},
                {species: 'Невестарка', count: 45, date: '10.01.2018', place: 'Пловдив', observer: 'Иван Иванов Иванов'},
                {species: 'Ябълка', count: 5, date: '10.01.2018', place: 'Пловдив', observer: 'Иван Иванов Иванов'}]">
                  <td>{{::label.species}}</td>
                  <td class="text-right">{{::label.date}}</td>
                  <td>{{::label.place}}</td><td class="text-right">{{::label.count}}</td><td>{{::label.observer}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="text-muted" translate translate-values="{
          linkStart: '<a href=\'http://www.eagleforests.org\' target=\'_blank\'>',
          linkEnd: '</a>'
          }">PUBLIC_BIRDS_TEXT</p>
      </div>
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="pull-right">
          <a class="logo bspb" href="http://bspb.org" target="_blank"></a>
          <a class="logo iag" href="http://www.iag.bg" target="_blank"></a>
          <a class="logo life" href="http://ec.europa.eu/environment/life/funding/lifeplus.htm" target="_blank"></a>
          <a class="logo natura2000" href="http://ec.europa.eu/environment/nature" target="_blank"></a>
          <a class="logo eagle" href="http://www.eagleforests.org" target="_blank"></a>
        </p>
        <p class="copyright text-muted">Copyright &copy; <translate>COPYRIGHT_OWNER</translate> 2015-2018 | <a href ng-click="showTos()" translate>TOS_LABEL</a></p>
      </div>
    </div>
  </div>
</footer>
