<ng-include src="'/views/layout/navbar.html'"></ng-include>

<!-- Header -->
<a name="forms"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>SmartBirds</h1>
          <h3>Информационна система с биологична информация към БДЗП</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="cbm" class="btn btn-default btn-lg" title="Мониторинг на обикновенните видове птици">
                <i class="icon icon-cbm"></i>
                <span class="network-name">МОВП</span>
              </a>
            </li>
            <li>
              <a ui-sref="birds" class="btn btn-default btn-lg" title="Стандартна форма птици">
                <i class="icon icon-birds"></i>
                <span class="network-name">Птици</span>
              </a>
            </li>
            <li>
              <a ui-sref="herp" class="btn btn-default btn-lg" title="Земноводни, влечуги и бозайници">
                <i class="icon icon-herp"></i>
                <span class="network-name">ЗВБ</span>
              </a>
            </li>
            <li>
              <a ui-sref="ciconia" class="btn btn-default btn-lg">
                <i class="icon icon-ciconia"></i>
                <span class="network-name">Бял щъркел</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->


<!-- Page Content -->

<a name="about"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Включи се в наблюденията</h2>
        <p class="lead">
          Инсталирайте мобилното приложение
          <a target="_blank" href="https://play.google.com/store/apps/details?id=org.bspb.smartbirds.pro">SmartBirds
            Pro</a>
          и помогни за опазване на биологичното разнообразия в България.
        </p>
        <h5>Файлове:</h5>
        <ul>
          <li>
            <a href="/files/help_draft_ver_2_5_6_2015_final.pdf" target="_blank">Инструкции за работа с SmartBirds
              Pro</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/smartbirds-scr.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="funding"></a>
<div class="content-section-b">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
        <img class="img-responsive" src="img/logo-sb.png" alt="">
      </div>
      <div class="col-lg-7 col-sm-6 col-sm-offset-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">За проекта</h2>
        <p class="lead">
          SmartBirds.org e електронна база данни разработена от
          Българско дружество за защита на птиците. Целта и е да служи като
          електронен бележник за съхранение на записи от наблюдения на птици,
          бозайници, земноводни и влечуги. Записването на всяко едно наблюдение,
          подпомага природозащитните дейности в България. Затова записвайте
          наблюденията си директно тук в страницата или чрез мобилното приложение
          <a href="https://play.google.com/store/apps/details?id=org.bspb.smartbirds.pro">SmartBirds Pro</a>.
          Ако обичате природата и желаете да се включите в инициативата за преброяване на птиците
          около нас, вижте повече за условията и нивата на участие тук.
          Регистрирайте се в SmartBirds тук и изберете своето
          лично място за броене на птици.
        </p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="mobile"></a>
<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-1">
        <div class="container-fluid">
          <div class="row" style="margin-top: 100px">
            <div class="col-md-4 col-xs-6">
              <a href="http://bspb.org" target="_blank">
                <img class="img-responsive" src="img/logo-bspb.jpg" alt="БДЗП">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://eeagrants.org" target="_blank">
                <img class="img-responsive" src="img/logo-eea.jpg" alt="EEA">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://ec.europa.eu/environment/life/funding/lifeplus.htm" target="_blank">
                <img class="img-responsive" src="img/logo-life.jpg" alt="LIFE">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://ec.europa.eu/environment/nature" target="_blank">
                <img class="img-responsive" src="img/logo-natura2000.jpg" alt="Натура 2000">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://www.iag.bg/" target="_blank">
                <img class="img-responsive" src="img/logo-nfb.png" alt="NFB">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://www.eagleforests.org" target="_blank">
                <img class="img-responsive" src="img/logo-eagle.jpg" alt="Горите на орела">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Финансиране</h2>
        <p class="lead text-justify">
          Финансиран по проект “Птиците за Хората и Хората за Птиците: с добра воля за активно опазване на природата”
          в рамките на <a href="http://bg03.moew.government.bg/" target="_blank">Програми BG03 в България</a>
          по Финансовия механизъм на Европейското икономическо пространство 2009-2014 г.
        </p>
        <p class="lead text-justify">
          Финансиран по програма LIFE+ в рамките на проект
          <a href="http://www.eagleforests.org" target="_blank">„Опазване на ключови горски хабитати на малкия креслив
            орел в България”</a> (LIFE12 NAT/BG/001218).
        </p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<!--<a  name="contact"></a>-->
<!--<div class="banner">-->

<!--<div class="container">-->

<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<h2>Connect to Start Bootstrap:</h2>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<ul class="list-inline banner-social-buttons">-->
<!--<li>-->
<!--<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; /.banner &ndash;&gt;-->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">
          Copyright &copy; <a href="http://bspb.org" target="_blank">БДЗП</a> 2015-2016. | <a href ng-click="showTos()">УП</a>
        </p>
      </div>
    </div>
  </div>
</footer>
