<ng-include src="'/views/layout/navbar.html'"></ng-include>

<!-- Page Header -->
<header class="heroimage herp"></header>

<!-- Main Content -->
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="site-heading">
          <h1>Форма ЗВБ</h1>
          <h2>Наблюдения на земноводни, влечуги и бозайници</h2>
          <hr class="small">
          <div home-map form="herps"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="text-muted">
          Тази част от SmartBirds.org е осъществена в рамките на проект
          <a href="http://www.eagleforests.org" target="_blank">„Опазване на ключови горски хабитати
            на малкия креслив орел в България”</a> (LIFE12 NAT/BG/001218),
          финансиран от програма LIFE+ на Европейския съюз.
        </p>
      </div>
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="pull-right">
          <a class="logo bspb" href="http://bspb.org" target="_blank"></a>
          <a class="logo iag" href="http://www.iag.bg" target="_blank"></a>
          <a class="logo life" href="http://ec.europa.eu/environment/life/funding/lifeplus.htm" target="_blank"></a>
          <a class="logo natura2000" href="http://ec.europa.eu/environment/nature" target="_blank"></a>
          <a class="logo eagle" href="http://www.eagleforests.org" target="_blank"></a>
        </p>
        <p class="copyright text-muted">Copyright &copy; БДЗП 2015-2016 | <a href ng-click="showTos()">Условия за ползване</a></p>
      </div>
    </div>
  </div>
</footer>
