<ng-include src="'/views/layout/navbar.html'"></ng-include>

<!-- Page Header -->
<header class="heroimage cbm"></header>

<!-- Main Content -->
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="site-heading">
          <h1>МОВП</h1>
          <h2>Площадки за мониторинг на широкоразпространените видове птици</h2>
          <hr class="small">
          <div home-map form="cbm"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="text-muted">
          SmartBirds онлайн модулът е изработен в рамките на проект “Птиците за Хората и Хората за Птиците: с добра воля
          за активно опазване на природата”.
        </p>
        <p class="text-muted">
          Финансиран в рамките на <a href="http://bg03.moew.government.bg/" target="_blank">Програми BG03 в България</a>
          по Финансовия механизъм на Европейското икономическо пространство 2009-2014 г.
        </p>
      </div>
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <p class="pull-right">
          <a class="logo bspb" href="http://bspb.org" target="_blank"></a>
          <a class="logo eea" href="http://eeagrants.org" target="_blank"></a>
        </p>
        <p class="copyright text-muted">Copyright &copy; БДЗП 2015-2016 | <a href ng-click="showTos()">УП</a></p>
      </div>
    </div>
  </div>
</footer>
