<ng-include src="'/views/layout/navbar.html'"></ng-include>

<!-- Header -->
<a name="forms"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 translate>PUBLIC_HOME_TITLE</h1>
          <h3 translate>PUBLIC_HOME_SUBTITLE</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a ui-sref="cbm" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_CBM_LONG'}">
                <i class="icon icon-cbm"></i>
                <span class="network-name" translate>FORM_CBM_SHORT</span>
              </a>
            </li>
            <li>
              <a ui-sref="birds" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_BIRDS_LONG'}">
                <i class="icon icon-birds"></i>
                <span class="network-name" translate>FORM_BIRDS_SHORT</span>
              </a>
            </li>
            <li>
              <a ui-sref="herptiles" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_HERPTILES_LONG'}">
                <i class="icon icon-herptiles"></i>
                <span class="network-name" translate>FORM_HERPTILES_SHORT</span>
              </a>
            </li>
            <li>
              <a ui-sref="mammals" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_MAMMALS_LONG'}">
                <i class="icon icon-mammals"></i>
                <span class="network-name" translate>FORM_MAMMALS_SHORT</span>
              </a>
            </li>
            <li>
              <a ui-sref="ciconia" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_CICONIA_LONG'}">
                <i class="icon icon-ciconia"></i>
                <span class="network-name" translate>FORM_CICONIA_SHORT</span>
              </a>
            </li>
            <li>
              <a ui-sref="invertebrates" class="btn btn-default btn-lg" translate-attr="{title: 'FORM_INVERTEBRATES_LONG'}">
                <i class="icon icon-invertebrates"></i>
                <span class="network-name" translate>FORM_INVERTEBRATES_SHORT</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->


<!-- Page Content -->

<a name="mobile"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" translate>PUBLIC_HOME_MOBILE_TITLE</h2>
        <p class="lead text-justify" translate translate-values="{
          mobileLinkStart: '<a href=\'https://play.google.com/store/apps/details?id=org.bspb.smartbirds.pro\' target=\'_blank\'>',
          mobileLinkEnd: '</a>',
          instructionLinkStart: '<a href=\'/files/smartbirds-help-2.5.6-2015.pdf\' target=\'_blank\'>',
          instructionLinkEnd: '</a>'
          }">PUBLIC_HOME_MOBILE_BODY1</p>

        <p class="lead text-justify" translate translate-values="{
          linkStart: '<a href=\'https://play.google.com/store/apps/details?id=zz.android.smartbirds\' target=\'_blank\'>',
          linkEnd: '</a>'
          }">PUBLIC_HOME_MOBILE_BODY2</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/smartbirds-scr.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="about"></a>
<div class="content-section-b">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
        <img class="img-responsive" src="img/logo-sb.png" alt="">
      </div>
      <div class="col-lg-7 col-sm-6 col-sm-offset-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" translate>PUBLIC_HOME_ABOUT_TITLE</h2>
        <p class="lead text-justify" translate translate-values="{
          bspbLinkStart: '<a href=\'http://www.bspb.org/\' target=\'_blank\'>',
          bspbLinkEnd: '</a>',
          mobileLinkStart: '<a href=\'https://play.google.com/store/apps/details?id=org.bspb.smartbirds.pro\' target=\'_blank\'>',
          mobileLinkEnd: '</a>',
          registerLinkStart: '<a href=\'/register\' target=\'_blank\'>',
          registerLinkEnd: '</a>'
          }">PUBLIC_HOME_ABOUT_BODY</p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a name="funding"></a>
<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-1">
        <div class="container-fluid">
          <div class="row" style="margin-top: 100px">
            <div class="col-md-4 col-xs-6">
              <a href="http://bspb.org" target="_blank">
                <img class="img-responsive" ng-src="img/logo-bspb-{{$language}}.png" translate-attr="{alt: 'LOGO_BSPB_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://eeagrants.org" target="_blank">
                <img class="img-responsive" src="img/logo-eea.jpg" translate-attr="{alt: 'LOGO_EEA_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://ec.europa.eu/environment/life/funding/lifeplus.htm" target="_blank">
                <img class="img-responsive" src="img/logo-life.jpg" translate-attr="{alt: 'LOGO_LIFE_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://ec.europa.eu/environment/nature" target="_blank">
                <img class="img-responsive" src="img/logo-natura2000.jpg" translate-attr="{alt: 'LOGO_NATURA2000_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://www.iag.bg/" target="_blank">
                <img class="img-responsive" src="img/logo-nfb.png" translate-attr="{alt: 'LOGO_NFB_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://www.eagleforests.org" target="_blank">
                <img class="img-responsive" src="img/logo-eagle.jpg" translate-attr="{alt: 'LOGO_EAGLE_ALT'}">
              </a>
            </div>
            <div class="col-md-4 col-xs-6">
              <a href="http://www.eurobirdportal.org/ebp/" target="_blank">
                <img translate-attr="{alt: 'LOGO_EBP_ALT'}" src="img/ebp123.gif" style="width: 100%; height: auto;">
                <br>
                <img translate-attr="{alt: 'LOGO_EBP_ALT'}" src="img/ebp2b.png" style="width: 100%; height: auto;">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" translate>PUBLIC_HOME_FUNDING_TITLE</h2>
        <p class="lead text-justify" translate
           translate-values="{linkStart: '<a href=\'http://bg03.moew.government.bg/\' target=\'_blank\'>', linkEnd: '</a>'}">
          PUBLIC_HOME_FUNDING_BODY1</p>
        <p class="lead text-justify" translate
           translate-values="{linkStart: '<a href=\'http://www.eagleforests.org\' target=\'_blank\'>', linkEnd: '</a>'}">
          PUBLIC_HOME_FUNDING_BODY2</p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#forms" translate>NAV_FORMS</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#mobile" translate>NAV_MOBILE</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about" translate>NAV_ABOUT</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#funding" translate>NAV_FUNDING</a>
          </li>
        </ul>
        <p class="copyright text-muted small">
          Copyright &copy; <a href="http://bspb.org" target="_blank" translate>COPYRIGHT_OWNER</a> 2015-2018. | <a href
                                                                                                                   ng-click="showTos()"
                                                                                                                   translate>TOS_LABEL</a>
        </p>
      </div>
    </div>
  </div>
</footer>
