<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbar.collapsed = !navbar.collapsed">
        <span class="sr-only" translate>TOGGLE_NAVIGATION</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="auth.dashboard">
        <translate>SITE_NAME</translate>
        <span ng-if="$user.isAdmin()" class="text-danger">ADMIN</span>
      </a>
    </div>
    <!-- /.navbar-header -->

    <nav class="navbar-collapse" uib-collapse="!navbar.collapsed">
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" uib-dropdown>
          <a href role="button" id="user-dropdown" type="button" class="dropdown-toggle" uib-dropdown-toggle>
            <translate translate-values="{userName: $user.getIdentity().firstName}">NAV_HELLO</translate>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu aria-labelledby="user-dropdown">
            <li>
              <a href ui-sref="auth.users.detail({id: $user.getIdentity().id})" translate>NAV_PROFILE</a>
              <a href ui-sref="auth.users.changepw" translate>NAV_CHANGE_PASSWORD</a>
            </li>
            <li class="divider"></li>
            <li ng-controller="SessionController as sessionController">
              <a href ng-click="sessionController.logout()">
                <i class="fa fa-sign-out fa-fw"></i>
                <translate>NAV_LOGOUT</translate>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" translate-attr="{placeholder: 'SEARCH_PLACEHOLDER'}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                      <i class="fa fa-search"></i>
                                    </button>
                                </span>
              </div>
              <!-- /input-group -->
            </li>
            <li>
              <a ui-sref="auth.dashboard"><i class="fa fa-dashboard fa-fw"></i> <translate>NAV_DASHBOARD</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_CBM_LONG'}">
              <a ui-sref="auth.monitoring.cbm"><i class="icon icon-cbm icon-fw"></i> <translate>FORM_CBM_SHORT</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_BIRDS_LONG'}">
              <a ui-sref="auth.monitoring.birds"><i class="icon icon-birds icon-fw"></i> <translate>FORM_BIRDS_SHORT</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_HERP_LONG'}">
              <a ui-sref="auth.monitoring.herp"><i class="icon icon-herp icon-fw"></i> <translate>FORM_HERP_SHORT</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_HERPTILES_LONG'}">
              <a ui-sref="auth.monitoring.herptiles"><i class="icon icon-herptiles icon-fw"></i> <translate>FORM_HERPTILES_SHORT</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_MAMMALS_LONG'}">
              <a ui-sref="auth.monitoring.mammals"><i class="icon icon-mammals icon-fw"></i> <translate>FORM_MAMMALS_SHORT</translate></a>
            </li>
            <li translate-attr="{title: 'FORM_CICONIA_LONG'}">
              <a ui-sref="auth.monitoring.ciconia"><i class="icon icon-ciconia icon-fw"></i> <translate>FORM_CICONIA_LONG</translate></a>
            </li>
            <li>
              <a ui-sref="auth.zones({status:['requested','owned'], location: undefined, owner: undefined})">
                <i class="fa fa-map-o fa-fw"></i>
                <translate>NAV_ZONES</translate>
                <span ng-if="main.zonesIndicator" class="badge" translate-attr="{title: 'NAV_ZONES_REQUESTED'}">{{main.zonesIndicator}}</span>
              </a>
            </li>
            <li ng-if="$user.isAdmin()">
              <a ui-sref="auth.users">
                <i class="fa fa-users fa-fw"></i>
                <translate>NAV_USERS</translate>
              </a>
            </li>
            <li ng-if="$user.isAdmin()">
              <a ui-sref="auth.visits">
                <i class="fa fa-calendar fa-fw"></i>
                <translate>NAV_VISITS</translate>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
    </nav>
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <ui-view name="content"></ui-view>
      <div class="row">
        <p>&nbsp;</p>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->

  <footer class="footer">
    <div class="container-fluid">
      <p class="copyright">
        &copy; 2016 <a href="http://bspb.org" translate>COPYRIGHT_OWNER</a> | <a href ng-click="showTos()" translate>TOS_LABEL</a>
      </p>
      <p class="revision">
        {{$system.name}} {{$system.version}}
      </p>
    </div>
  </footer>

</div>
<!-- /#wrapper -->
