<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbar.collapsed = !navbar.collapsed">
        <span class="sr-only" translate>TOGGLE_NAVIGATION</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="auth.dashboard">
        <translate>SITE_NAME</translate>
        <span ng-if="main.SW" style="margin-left: 0.25em; font-size: 50%; vertical-align: middle;"
              ng-style="{color: isOnline ? '#8BC34A' : '#F44336'}">
          <i class="fa fa-circle"></i>
        </span>
        <span ng-if="$user.isAdmin()" class="text-danger">ADMIN</span>
      </a>
    </div>
    <!-- /.navbar-header -->

    <nav class="navbar-collapse" uib-collapse="!navbar.collapsed">
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" uib-dropdown>
          <a href role="button" id="user-dropdown" type="button" class="dropdown-toggle" uib-dropdown-toggle>
            <translate translate-values="{userName: $user.getIdentity().firstName}">NAV_HELLO</translate>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu aria-labelledby="user-dropdown">
            <li>
              <a href ui-sref="auth.users.friends" translate>NAV_FRIENDS</a>
              <a href ui-sref="auth.users.detail({id: $user.getIdentity().id})" translate>NAV_PROFILE</a>
              <a href ui-sref="auth.users.changepw" translate>NAV_CHANGE_PASSWORD</a>
            </li>
            <li class="divider"></li>
            <li ng-controller="SessionController as sessionController">
              <a href ng-click="sessionController.logout()">
                <i class="fa fa-sign-out fa-fw"></i>
                <translate>NAV_LOGOUT</translate>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- /.navbar-top-links -->

      <sidebar></sidebar>
    </nav>
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <ui-view name="content"></ui-view>
      <div class="row">
        <p>&nbsp;</p>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->

  <footer class="footer">
    <div class="container-fluid">
      <p class="copyright">
        &copy; 2016 <a href="http://bspb.org" translate>COPYRIGHT_OWNER</a>
        |
        <a href ng-click="showTos()" translate>TOS_LABEL</a>
        |
        <a href ui-sref="gdpr" translate>GDPR_LABEL</a>
      </p>
      <p class="revision">
        {{$system.name}} {{$system.version}}
      </p>
    </div>
  </footer>

</div>
<!-- /#wrapper -->
