<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" translate>LOGIN_TITLE</h3>
        </div>
        <div class="panel-body">
          <div
            class="alert alert-{{flash.type}}"
            ng-if="flash" ng-bind="flash.message"></div>
          <form name="form" role="form" class="form form-signin">
            <fieldset>
              <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid }">
                <input class="form-control" translate-attr="{placeholder: 'PROFILE_FIELD_EMAIL_HINT'}" name="email" type="email" required
                       autofocus ng-model="auth.email"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block" translate>PROFILE_ERROR_EMAIL_REQUIRED</span>
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block" translate>PROFILE_ERROR_EMAIL_INVALID</span>
              </div>
              <div class="form-group"
                   ng-class="{'has-error': form.password.$dirty && form.password.$invalid }">
                <input class="form-control" translate-attr="{placeholder: 'PROFILE_FIELD_PASSWORD_HINT'}" name="password" type="password"
                       value="" ng-model="auth.password" required>
                <span ng-show="form.password.$dirty && form.password.$error.required"
                      class="help-block" translate>PROFILE_ERROR_PASSWORD_REQUIRED</span>
              </div>
              <div ng-if="sessionController.requireGdprConsent" class="checkbox">
                <label>
                  <input name="gdpr_consent" type="checkbox" value="gdpr_consent" ng-model="auth.gdprConsent" required>
                  <a href role="button" ng-click="showGDPR()" translate>PROFILE_GDPR_CONSENT</a>
                </label>
              </div>
              <!--<div class="checkbox">-->
              <!--<label>-->
              <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
              <!--</label>-->
              <!--</div>-->
              <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || sessionController.loading"
                        ng-click="sessionController.login(auth)"
                        class="btn btn-lg btn-primary" translate>
                  PROFILE_BTN_LOGIN
                </button>
                <a href ui-sref="register({ email:auth.email })" class="btn btn-lg btn-default btn-link" translate>PROFILE_BTN_REGISTER</a>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="panel-footer">
          <p>
            <a language-switcher class="language" ng-click="$ctrl.changeLanguage('en')">EN</a>
            <a language-switcher class="language" ng-click="$ctrl.changeLanguage('bg')">BG</a>
            <a ui-sref="forgot" href translate>LOGIN_FORGOT_PASSWORD</a></p>
          <p>
            <!--<p><a ui-sref="register" href translate>LOGIN_REGISTER</a></p>-->
        </div>
      </div>
    </div>
  </div>
</div>
