<div class="modal-header">
  <h3 class="modal-title">Оторизация</h3>
</div>
<div class="modal-body">
  <div
    class="alert alert-{{flash.type}}"
    ng-if="flash" ng-bind="flash.message"></div>
  <form name="form" role="form" class="form form-signin">
    <fieldset>
      <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid }">
        <input class="form-control" placeholder="Е-поща" name="email" type="email" required
               autofocus ng-model="auth.email"
               ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Електронната поща е задължително поле</span>
        <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Невалидна електронна поща</span>
      </div>
      <div class="form-group"
           ng-class="{'has-error': form.password.$dirty && form.password.$invalid }">
        <input class="form-control" placeholder="Парола" name="password" type="password"
               value="" ng-model="auth.password" required>
                                <span ng-show="form.password.$dirty && form.password.$error.required"
                                      class="help-block">Паролата е задължително поле</span>
      </div>
      <!--<div class="checkbox">-->
        <!--<label>-->
          <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
        <!--</label>-->
      <!--</div>-->
      <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || sessionController.loading"
                ng-click="$close(auth)"
                class="btn btn-lg btn-primary">
          Вход
        </button>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <p><a ui-sref="forgot" href>забравена парола</a></p>

  <p><a ui-sref="register" href>регистрация</a></p>
</div>
