<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title" id="modal-title">Условия за ползване</h3>
</div>
<div class="modal-body" id="modal-body">
  <ol>
    <li><p>
      Изложените на тази страница Условия за ползване регламентират използването

      на мобилно приложение SmartBirds Pro и/или интернет страницата

      <a href="https://smartbirds.org">https://smartbirds.org</a> от страна на Потребителите при спазване на описаните

      условия. Те представляват по своята същност договор между собственика на

      приложението и страницата (нар. Собственик), от една страна, и всеки един от

      потребителите им (нар. Потребител), от друга, чрез който страните по него

      уговарят своите права и задължения и се ангажират изрично с точното спазване

      на условията.
    </p></li>
    <li><p>
      Чрез SmartBirds Pro и/или интернет страницата <a href="https://smartbirds.org">https://smartbirds.org</a>

      Потербителят има възможност да събира данни за наблюдавани от него в

      природата животински видове (земноводни, влечуги, птици и бозайници).
    </p></li>

    <li><p>
      Собственикът предоставя на Потребителя правото на достъп и ползване на

      SmartBirds Pro и/или интернет страницата <a href="https://smartbirds.org">https://smartbirds.org</a>.
    </p></li>
    <li><p>
      Всеки Потребител, желаещ да предостави събраните данни на Собственика,

      следва да се регистрира на интернет страницата <a href="https://smartbirds.org">https://smartbirds.org</a>.

      Регистрацията изисква запознаване и отразяване на съгласие с настоящите

      Условия за ползване.
    </p></li>
    <li>
      <p>
        Използване на SmartBirds Pro:</p>
      <ol>
        <li>
          <p> Потребителят има право да съхранява и използва събраните данни за

            собствени нужди преди или без да ги предоставя на Собственика.
          </p></li>
        <li><p> Потребителят има право да предостави събраните данни на Собственика,

          което се осъществява чрез бутона „Качване”.
        </p></li>
      </ol>
    </li>
    <li>
      <p> Използване на <a href="https://smartbirds.org">https://smartbirds.org</a>:</p>
      <ol>
        <li>
          <p> При използване на интернет платформата <a href="https://smartbirds.org">https://smartbirds.org</a>

            Потребителят предоставя събраните данни на Собственика при попълване и

            запазване на данните в представените електронни формуляри, след

            използване на бутона „Запис“.
          </p></li>
        <li><p> Потребителят има право да съхранява и използва събраните данни и за

          собствени нужди.
        </p></li>
      </ol>
    </li>
    <li><p> С използване на бутона „Качване” за SmartBirds Pro или “Запис” за

      <a href="https://smartbirds.org">https://smartbirds.org</a> се счита, че Потребителят предоставя данните от

      наблюденията си доброволно на Собственика.
    </p></li>
    <li><p> В случай, че Потребителят е предоставил фотография/ии чрез бутона „Качване”

      или „Запис”, се счита, че е съгласен и доброволно и безвъзмездно предоставя на

      Собственика правото на ползване на фотографията/иите по начин, който

      Собственикa прецени.

    </p></li>
    <li><p> Собственикът декларира и се задължава да обработва и използва получените

      данни само и единствено за природозащитни цели.

    </p></li>
    <li><p> Собственикът се задължава, когато използва получените данни, да цитира

      имeната на предоставилия конкретните данни и техния произход.

    </p></li>
    <li><p> Собственикът няма право и декларира, че няма да използва предоствените от

      Потребителите фотографии за търговски цели.

    </p></li>
    <li><p> Собственикът има право по всяко време да преустанови поддържането на

      мобилното приложение и/или интернет страницата, да осъществи частични или

      пълни промени по своя преценка и без предварително известие.

    </p></li>
    <li><p> Собственикът си запазва правото да променя Условията за ползване по всяко

      време по собствена преценка и без предварително известие.

    </p></li>
    <li><p> При направени промени по т. 13 следва да бъде публикувано съобщение на

      интернет страницата, като по този начин Потребителите се считат за надлежно

      уведомени за направените промени и са обвързани от тях посредством

      последващото отваряне.

    </p></li>
    <li><p> Мобилното приложение SmartBirds Pro и интернет страницата

      <a href="https://smartbirds.org">https://smartbirds.org</a> са създадени и са собственост на Българско дружество
      за

      защита на птиците (БДЗП). Целта на приложението е да улесни хората, които се

      занимават професионално със събиране на биологична информация, както и

      природолюбителите, при техните срещи с дивата природа.

    </p></li>
    <li><p> Собственикът (БДЗП) е регистриран администратор на лични данни с рег.

      №206025, с което декларира, че предоставени му лични данни от Потребителите

      няма да бъдат използвани за други цели, освен вече посочените, и при спазване

      на българското законодателство.
    </p></li>
  </ol>

  <h4>Изключения:</h4>
  <ol>
    <li><p>
      В случаите, в които Собственикът (БДЗП) с договор възлага на трето лице

      събиране на биологична информация чрез SmartBirds Pro и/или

      https://smartbirds.org, собствеността на получените данни се регламентира с

      договора за възлагане между страните. Той изключва, настоящите Условия за

      ползване.
    </p></li>
  </ol>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$dismiss()">OK</button>
</div>
