<div class="modal-header">
  <button type="button" class="close" translate-attr="{'aria-label': 'BTN_ARIA_LABEL_CLOSE'}" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title" id="modal-title" translate>TOS_TITLE</h3>
</div>
<div class="modal-body" id="modal-body" ng-init="values = {
  sbLinkStart: '<a href=\'https://smartbirds.org\'>',
  sbLinkEnd: '</a>',
  }">
  <ol>
    <li><p translate translate-values="values">TOS_SECTION01</p></li>
    <li><p translate translate-values="values">TOS_SECTION02</p></li>

    <li><p translate translate-values="values">TOS_SECTION03</p></li>
    <li><p translate translate-values="values">TOS_SECTION04</p></li>
    <li>
      <p translate translate-values="values">TOS_SECTION05_TITLE</p>
      <ol>
        <li><p translate translate-values="values">TOS_SECTION05_BODY1</p></li>
        <li><p translate translate-values="values">TOS_SECTION05_BODY2</p></li>
      </ol>
    </li>
    <li>
      <p translate translate-values="values">TOS_SECTION06_TITLE</p>
      <ol>
        <li><p translate translate-values="values">TOS_SECTION06_BODY1</p></li>
        <li><p translate translate-values="values">TOS_SECTION06_BODY2</p></li>
      </ol>
    </li>
    <li><p translate translate-values="values">TOS_SECTION07</p></li>
    <li><p translate translate-values="values">TOS_SECTION08</p></li>
    <li><p translate translate-values="values">TOS_SECTION09</p></li>
    <li><p translate translate-values="values">TOS_SECTION10</p></li>
    <li><p translate translate-values="values">TOS_SECTION11</p></li>
    <li><p translate translate-values="values">TOS_SECTION12</p></li>
    <li><p translate translate-values="values">TOS_SECTION13</p></li>
    <li><p translate translate-values="values">TOS_SECTION14</p></li>
    <li><p translate translate-values="values">TOS_SECTION15</p></li>
    <li><p translate translate-values="values">TOS_SECTION16</p></li>
  </ol>

  <h4 translate translate-values="values">TOS_EXCEPTIONS_TITLE</h4>
  <ol>
    <li><p translate translate-values="values">TOS_EXCEPTIONS_SECTION01</p></li>
  </ol>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$dismiss()" translate>BTN_OK</button>
</div>
