<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
  <ui-gmap-markers ng-if="map.records.length"
                   models="map.records"
                   static="true"
                   coords="'self'"
                   type="'cluster'"
                   modelsbyref="true"
                   fit="true"
                   click="map.marker.click"
  >
    <ui-gmap-windows show="'show'">
      <div ng-non-bindable>
        <h5 class="text-uppercase text-justify"><small>гнезда</small> {{::records_count}}</h5>
      </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>

<ng-include src="'/views/directives/homemap/helptext.html'"></ng-include>
