<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
  <ui-gmap-markers ng-if="map.records.length"
                   models="map.records"
                   static="true"
                   coords="'self'"
                   type="'cluster'"
                   modelsbyref="true"
                   fit="true"
                   click="map.marker.click"
  ></ui-gmap-markers>
  <ui-gmap-window show="map.activeModel.show" coords="map.activeModel" options="map.windowOptions">
    <div>
      <h5 class="text-uppercase text-justify"><small translate>PUBLIC_INVERTEBRATES_MAP_SPECIES</small> {{map.activeModel.species_count}}</h5>
      <h5 class="text-uppercase text-justify"><small translate>PUBLIC_INVERTEBRATES_MAP_INDIVIDUALS</small> {{map.activeModel.units_count}}</h5>
    </div>
  </ui-gmap-window>
</ui-gmap-google-map>

<ng-include src="'/views/directives/homemap/helptext.html'"></ng-include>
