<div lang="en">
  <p>Your export is ready.</p>

  <p>You can download it from <a href="https://smartbirds.org/download/<%= key %>">here</a>.</p>

  <p>The file will be automatically deleted in 24 hours.</p>
</div>

<hr>

<div lang="bg">
  <p>Вашият експорт е готов.</p>

  <p>Можете да го изтеглите от <a href="https://smartbirds.org/download/<%= key %>">тук</a>.</p>

  <p>Файлът ще бъде изтрит автоматично след 24 часа.</p>
</div>
