<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'BIRDS_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
      confirm-message-route="{{'BIRDS_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-right">
          <form-detail-buttons monitoring-detail-controller="monitoringDetailController"></form-detail-buttons>
        </div>
        <span ng-if="monitoringDetailController.data.id" translate>BIRDS_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>BIRDS_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-9">
      <field name="species" type="species" nomenclature="birds" required="true"
             label="{{'BIRDS_DETAIL_SPECIES' | translate}}"
             model="monitoringDetailController.data.species"></field>
    </div>
    <div class="col-md-3">
      <field name="confidential" type="bool"
             label="{{'BIRDS_DETAIL_CONFIDENTIAL' | translate}}"
             model="monitoringDetailController.data.confidential"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-7" ng-include="'/views/monitorings/geolocation.html'"></div>
    <div class="col-md-4 col-lg-5">
      <div class="row">
        <div class="col-md-6">
          <field name="count" type="single-choice" nomenclature="birds_count_units" required="true"
                 label="{{'BIRDS_DETAIL_COUNT_UNIT' | translate}}"
                 model="monitoringDetailController.data.countUnit"></field>
        </div>
        <div class="col-md-6">
          <field name="count" type="single-choice" nomenclature="birds_count_type" required="true"
                 label="{{'BIRDS_DETAIL_COUNT_TYPE' | translate}}"
                 model="monitoringDetailController.data.typeUnit"></field>
        </div>
      </div>
      <div class="row">
        <div
          ng-if="!['Min.', 'Max.', 'Range', 'Unspecified number'].includes(monitoringDetailController.data.typeUnit.label.en)"
          class="col-md-6">
          <field name="count" type="int" min="1" required="true"
                 label="{{'BIRDS_DETAIL_COUNT' | translate}}"
                 model="monitoringDetailController.data.count"></field>
        </div>
        <div ng-if="['Min.', 'Range'].includes(monitoringDetailController.data.typeUnit.label.en)" class="col-md-6">
          <field name="countMin" type="int" min="1" required="true"
                 label="{{'BIRDS_DETAIL_MIN' | translate}}"
                 model="monitoringDetailController.data.countMin"></field>
        </div>
        <div ng-if="['Max.', 'Range'].includes(monitoringDetailController.data.typeUnit.label.en)" class="col-md-6">
          <field name="countMax" type="int" min="1" required="true"
                 label="{{'BIRDS_DETAIL_MAX' | translate}}"
                 model="monitoringDetailController.data.countMax"></field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <field name="sex" type="single-choice" nomenclature="birds_sex"
                 label="{{'BIRDS_DETAIL_SEX' | translate}}"
                 model="monitoringDetailController.data.sex"></field>
        </div>
        <div class="col-md-6">
          <field name="age" type="single-choice" nomenclature="birds_age"
                 label="{{'BIRDS_DETAIL_AGE' | translate}}"
                 model="monitoringDetailController.data.age"></field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <field name="speciesStatus" type="single-choice" nomenclature="birds_status"
                 label="{{'BIRDS_DETAIL_SPECIES_STATUS' | translate}}"
                 model="monitoringDetailController.data.speciesStatus"></field>
        </div>
        <div class="col-md-6">
          <field name="behaviour" type="multiple-choice" nomenclature="birds_behaviour"
                 label="{{'BIRDS_DETAIL_BEHAVIOUR' | translate}}"
                 model="monitoringDetailController.data.behaviour"></field>
        </div>
      </div>
    </div>
  </div>

  <h3>
    <button type="button" class="btn btn-default btn-lg"
            ng-click="monitoringDetailController.opened = !monitoringDetailController.opened">
      {{'DETAIL_BUTTON_ADDITIONAL_FIELDS' | translate}}
      <i class="glyphicon"
         ng-class="{'glyphicon-chevron-up': monitoringDetailController.opened,
                    'glyphicon-chevron-down': !monitoringDetailController.opened}"></i>
    </button>
  </h3>

  <div class="row" uib-collapse="!monitoringDetailController.opened">
    <div class="col-md-8 col-lg-6">
      <field name="deadIndividualCauses" type="single-choice" nomenclature="birds_death"
             label="{{'BIRDS_DETAIL_DEAD_INDIVIDUAL_CAUSES' | translate}}"
             model="monitoringDetailController.data.deadIndividualCauses"></field>
    </div>

    <div class="col-md-4">
      <field name="marking" type="single-choice" nomenclature="birds_marking"
             label="{{'BIRDS_DETAIL_MARKING' | translate}}"
             model="monitoringDetailController.data.marking"></field>
    </div>

    <div class="col-md-4">
      <field name="count" type="single-choice" nomenclature="birds_nesting"
             label="{{'BIRDS_DETAIL_NESTING' | translate}}"
             model="monitoringDetailController.data.typeNesting"></field>
    </div>

    <div class="col-md-4">
      <field name="substrate" type="single-choice" nomenclature="birds_nest_substrate"
             label="{{'BIRDS_DETAIL_SUBSTRATE' | translate}}"
             model="monitoringDetailController.data.substrate"></field>
    </div>
    <div class="col-md-4">
      <field name="tree" type="text"
             label="{{'BIRDS_DETAIL_TREE' | translate}}"
             model="monitoringDetailController.data.tree"></field>
    </div>
    <div class="col-md-4">
      <field name="treeHeight" type="float" min="0"
             label="{{'BIRDS_DETAIL_TREE_HEIGHT' | translate}}"
             model="monitoringDetailController.data.treeHeight"></field>
    </div>
    <div class="col-md-4">
      <field name="treeLocation" type="single-choice" nomenclature="birds_nest_location"
             label="{{'BIRDS_DETAIL_TREE_LOCATION' | translate}}"
             model="monitoringDetailController.data.treeLocation"></field>
    </div>
    <div class="col-md-4">
      <field name="nestHeight" type="single-choice" nomenclature="birds_nest_height"
             label="{{'BIRDS_DETAIL_NEST_HEIGHT' | translate}}"
             model="monitoringDetailController.data.nestHeight"></field>
    </div>
    <div class="col-md-4">
      <field name="nestLocation" type="single-choice" nomenclature="birds_nest_position"
             label="{{'BIRDS_DETAIL_NEST_LOCATION' | translate}}"
             model="monitoringDetailController.data.nestLocation"></field>
    </div>
    <div class="col-md-4">
      <field name="brooding" type="bool"
             label="{{'BIRDS_DETAIL_BROODING' | translate}}"
             model="monitoringDetailController.data.brooding"></field>
    </div>
    <div class="col-md-4">
      <field name="eggsCount" type="int" min="0"
             label="{{'BIRDS_DETAIL_EGGS_COUNT' | translate}}"
             model="monitoringDetailController.data.eggsCount"></field>
    </div>
    <div class="col-md-4">
      <field name="countNestling" type="int" min="0"
             label="{{'BIRDS_DETAIL_COUNT_NESTLING' | translate}}"
             model="monitoringDetailController.data.countNestling"></field>
    </div>
    <div class="col-md-4">
      <field name="countFledgling" type="int" min="0"
             label="{{'BIRDS_DETAIL_COUNT_FLEDGLING' | translate}}"
             model="monitoringDetailController.data.countFledgling"></field>
    </div>
    <div class="col-md-4">
      <field name="countSuccessfullyLeftNest" type="int" min="0"
             label="{{'BIRDS_DETAIL_COUNT_SUCCESSFULLY_LEFT_NEST' | translate}}"
             model="monitoringDetailController.data.countSuccessfullyLeftNest"></field>
    </div>
    <div class="col-md-4">
      <field name="nestProtected" type="bool"
             label="{{'BIRDS_DETAIL_NEST_PROTECTION' | translate}}"
             model="monitoringDetailController.data.nestProtected"></field>
    </div>
    <div class="col-md-4">
      <field name="ageFemale" type="single-choice" nomenclature="birds_age_individual"
             label="{{'BIRDS_DETAIL_AGE_FEMALE' | translate}}"
             model="monitoringDetailController.data.ageFemale"></field>
    </div>
    <div class="col-md-4">
      <field name="ageMale" type="single-choice" nomenclature="birds_age_individual"
             label="{{'BIRDS_DETAIL_AGE_MALE' | translate}}"
             model="monitoringDetailController.data.ageMale"></field>
    </div>
    <div class="col-md-4">
      <field name="nestingSuccess" type="single-choice" nomenclature="birds_nest_success"
             label="{{'BIRDS_DETAIL_NESTING_SUCCESS' | translate}}"
             model="monitoringDetailController.data.nestingSuccess"></field>
    </div>
    <div class="col-md-12">
      <field name="landuse300mRadius" type="text"
             label="{{'BIRDS_DETAIL_LANDUSE_300M_USE' | translate}}"
             model="monitoringDetailController.data.landuse300mRadius"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <field name="speciesNotes" type="memo"
             label="{{'BIRDS_DETAIL_SPECIES_NOTES' | translate}}"
             model="monitoringDetailController.data.speciesNotes"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <form-detail-buttons monitoring-detail-controller="monitoringDetailController"></form-detail-buttons>
      </div>
    </div>
  </div>
</form>
