<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'CBM_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate"}}"
      confirm-message-route="{{'CBM_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="smartform.$invalid || smartform.$pristine"
                    ng-click="monitoringDetailController.save()"
            >
              {{'CBM_DETAIL_BUTTON_SAVE' | translate}}
              <i class="fa fa-save fa-fw"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-disabled="!monitoringDetailController.data.id"
                    ng-click="monitoringDetailController.copy()"
            >
              {{'CBM_DETAIL_BUTTON_COPY' | translate}}
              <i class="fa fa-copy fa-fw"></i>
            </button>
          </div>
        </div>
        <span ng-if="monitoringDetailController.data.id" translate>CBM_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>CBM_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div class="row" ng-if="monitoringDetailController.hasVisit">
    <div class="col-md-12">
      <div ng-if="!monitoringDetailController.visit"
           class="alert alert-warning" role="alert" translate translate-values="{strongStart: '<strong>', strongEnd: '</strong>'}">
        CBM_DETAIL_MISSING_INTERVALS_MESSAGE
      </div>
      <div ng-if="monitoringDetailController.visit && !monitoringDetailController.isEarly && !monitoringDetailController.isLate"
        class="alert alert-danger" role="alert" translate translate-values="{strongStart: '<strong>', strongEnd: '</strong>'}">
        CBM_DETAIL_DATE_NOT_IN_INTERVAL_MESSAGE
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-7">
      <field name="zone" type="zone" required="true"
             label="{{'CBM_DETAIL_PLACE' | translate}}"
             on-select="monitoringDetailController.onZoneSelected()"
             model="monitoringDetailController.data.zone"></field>

      <div class="text-right">
        <track-edit ng-model="monitoringDetailController.data.track"></track-edit>
      </div>
      <ui-gmap-google-map
        ng-if="monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
        center="monitoringDetailController.map.center"
        zoom="monitoringDetailController.map.zoom"
        options="{mapTypeId: 'hybrid', clickableIcons: false}">
        <ui-gmap-polygon
          ng-if="monitoringDetailController.data.getZone && monitoringDetailController.data.getZone().coordinates.length"
          path="monitoringDetailController.data.getZone().coordinates"
          static="true"
          fill="{color: '#00f', opacitiy: 0.7}"
          stroke="{color: '#00f', opacity: 1, weight: 3}"
          geodesic="true"
          fit="false"
          events="{click: monitoringDetailController.map.click}"
        ></ui-gmap-polygon>
        <ui-gmap-polyline
          ng-if="monitoringDetailController.track.length"
          path="monitoringDetailController.track"
          stroke="{color: '#36c', weight: 3}"
          editable="false"
          draggable="false"
          geodesic="true"
          visible="true"
          fit="true"
          static="true"
        ></ui-gmap-polyline>
        <ui-gmap-marker coords="monitoringDetailController.map.poi"
                        idKey="'coords'"
        ></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

    <div class="col-md-4 col-lg-5">
      <div class="row">
        <div class="col-md-6">
          <field name="startDate" type="date" required="true"
                 label="{{'CBM_DETAIL_START_DATE' | translate}}"
                 model="monitoringDetailController.data.startDateTime"></field>
        </div>

        <div class="col-md-6">
          <field name="startTime" type="time" required="true"
                 label="{{'CBM_DETAIL_START_TIME' | translate}}"
                 model="monitoringDetailController.data.startDateTime"></field>
        </div>

        <div class="col-md-6">
          <field name="endDate" type="date" required="true"
                 label="{{'CBM_DETAIL_END_DATE' | translate}}"
                 model="monitoringDetailController.data.endDateTime"></field>
        </div>

        <div class="col-md-6">
          <field name="endTime" type="time" required="true"
                 label="{{'CBM_DETAIL_END_TIME' | translate}}"
                 model="monitoringDetailController.data.endDateTime"></field>
        </div>

        <div ng-if="$user.canAccess(monitoringDetailController.formName)" class="col-md-12">
          <field name="user" type="user" required="true"
                 label="{{'CBM_DETAIL_OBSERVER' | translate}}"
                 model="monitoringDetailController.data.user"></field>
        </div>

        <div class="col-md-12">
          <field name="observers" type="text"
                 label="{{'CBM_DETAIL_OTHER_OBSERVERS' | translate}}"
                 model="monitoringDetailController.data.observers"></field>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-6">
      <field name="primaryHabitat" type="single-choice" nomenclature="cbm_habitat" required="true"
             label="{{'CBM_DETAIL_PRIMARY_HABITAT' | translate}}"
             model="monitoringDetailController.data.primaryHabitat"></field>
    </div>
    <div class="col-md-6">
      <field name="secondaryHabitat" type="single-choice" nomenclature="cbm_habitat"
             label="{{'CBM_DETAIL_SECONDARY_HABITAT' | translate}}"
             model="monitoringDetailController.data.secondaryHabitat"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <field name="visit" type="single-choice" nomenclature="cbm_visit_number" required="true"
             label="{{'CBM_DETAIL_VISIT_NUMBER' | translate}}"
             model="monitoringDetailController.data.visit"></field>
    </div>
    <div class="col-md-6">
      <field name="plot" type="single-choice" nomenclature="cbm_sector" required="true"
             label="{{'CBM_DETAIL_PLOT' | translate}}"
             model="monitoringDetailController.data.plot"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="species" type="species" nomenclature="birds" required="true"
             label="{{'CBM_DETAIL_SPECIES' | translate}}"
             model="monitoringDetailController.data.species"></field>
    </div>
    <div class="col-md-4">
      <field name="distance" type="single-choice" nomenclature="cbm_distance" required="true"
             label="{{'CBM_DETAIL_DISTANCE' | translate}}"
             model="monitoringDetailController.data.distance"></field>
    </div>
    <div class="col-md-4">
      <field name="count" type="int" min="1" required="true"
             label="{{'CBM_DETAIL_COUNT' | translate}}"
             model="monitoringDetailController.data.count"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="smartform.$invalid || smartform.$pristine"
                  ng-click="monitoringDetailController.save()"
          >
            {{'CBM_DETAIL_BUTTON_SAVE' | translate}}
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-disabled="!monitoringDetailController.data.id"
                  ng-click="monitoringDetailController.copy()"
          >
            {{'CBM_DETAIL_BUTTON_COPY' | translate}}
            <i class="fa fa-copy fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
