<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="Имате незаписани промени!"
      confirm-message-route="Имате незаписани промени. Сигурни ли сте че искате да продължите?">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="smartform.$invalid || smartform.$pristine"
                    ng-click="monitoringDetailController.save()"
            >
              Запис
              <i class="fa fa-save fa-fw"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-disabled="!monitoringDetailController.data.id"
                    ng-click="monitoringDetailController.copy()"
            >
              Копие
              <i class="fa fa-copy fa-fw"></i>
            </button>
          </div>
        </div>
        <span ng-if="monitoringDetailController.data.id">Редакция на запис</span>
        <span ng-if="!monitoringDetailController.data.id">Нов запис</span>
      </h1>
    </div>
  </div>

  <div class="row" ng-if="monitoringDetailController.hasVisit">
    <div class="col-md-12">
      <div ng-if="!monitoringDetailController.visit"
           class="alert alert-warning" role="alert">
        <strong>Липсват периоди!</strong> Няма въведени периоди за наблюдение за избраната година.
      </div>
      <div ng-if="monitoringDetailController.visit && !monitoringDetailController.isEarly && !monitoringDetailController.isLate"
           class="alert alert-danger" role="alert">
        <strong>Извън период!</strong> Избраната дата на наблюдение е извън периодите за наблюдение.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="zone" type="zone" required="true"
             label="Място"
             on-select="monitoringDetailController.onZoneSelected()"
             model="monitoringDetailController.data.zone"></field>

      <ui-gmap-google-map
        ng-if="monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
        center="monitoringDetailController.map.center"
        zoom="monitoringDetailController.map.zoom"
        options="{mapTypeId: 'hybrid', clickableIcons: false}">
        <ui-gmap-marker coords="monitoringDetailController.map.poi"
                        idKey="'coords'"
        ></ui-gmap-marker>
        <ui-gmap-polygon
          ng-if="monitoringDetailController.data.getZone && monitoringDetailController.data.getZone().coordinates.length"
          path="monitoringDetailController.data.getZone().coordinates"
          static="true"
          fill="{color: '#00f', opacitiy: 0.7}"
          stroke="{color: '#00f', opacity: 1, weight: 3}"
          geodesic="true"
          fit="false"
          events="{click: monitoringDetailController.map.click}"
        ></ui-gmap-polygon>
      </ui-gmap-google-map>
    </div>

    <div class="col-md-4">
      <field name="startDate" type="date" required="true"
             label="Начална дата"
             model="monitoringDetailController.data.startDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="startTime" type="time" required="true"
             label="Начален час"
             model="monitoringDetailController.data.startDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="endDate" type="date" required="true"
             label="Крайна дата"
             model="monitoringDetailController.data.endDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="endTime" type="time" required="true"
             label="Краен час"
             model="monitoringDetailController.data.endDateTime"></field>
    </div>

    <div ng-if="$user.isAdmin()" class="col-md-8">
      <field name="user" type="user" required="true"
             label="Наблюдател"
             model="monitoringDetailController.data.user"></field>
    </div>

    <div class="col-md-8">
      <field name="observers" type="text"
             label="Други наблюдатели"
             model="monitoringDetailController.data.observers"></field>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-6">
      <field name="primaryHabitat" type="single-choice" nomenclature="cbm_habitat" required="true"
             label="Първостепенно местообитание"
             model="monitoringDetailController.data.primaryHabitat"></field>
    </div>
    <div class="col-md-6">
      <field name="secondaryHabitat" type="single-choice" nomenclature="cbm_habitat"
             label="Второстепенно местообитание"
             model="monitoringDetailController.data.secondaryHabitat"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <field name="visit" type="single-choice" nomenclature="cbm_visit_number" required="true"
             label="Посещение номер"
             model="monitoringDetailController.data.visit"></field>
    </div>
    <div class="col-md-6">
      <field name="plot" type="single-choice" nomenclature="cbm_sector" required="true"
             label="Номер на участък"
             model="monitoringDetailController.data.plot"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="species" type="species" nomenclature="birds" required="true"
             label="Вид научно име"
             model="monitoringDetailController.data.species"></field>
    </div>
    <div class="col-md-4">
      <field name="distance" type="single-choice" nomenclature="cbm_distance" required="true"
             label="Разстояние"
             model="monitoringDetailController.data.distance"></field>
    </div>
    <div class="col-md-4">
      <field name="count" type="int" min="1" required="true"
             label="Брой индивиди"
             model="monitoringDetailController.data.count"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="smartform.$invalid || smartform.$pristine"
                  ng-click="monitoringDetailController.save()"
          >
            Запис
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-disabled="!monitoringDetailController.data.id"
                  ng-click="monitoringDetailController.copy()"
          >
            Копие
            <i class="fa fa-copy fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
