<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'CICONIA_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
      confirm-message-route="{{'CICONIA_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="smartform.$invalid || smartform.$pristine"
                    ng-click="monitoringDetailController.save()"
            >
              {{'CICONIA_DETAIL_BUTTON_SAVE' | translate}}
              <i class="fa fa-save fa-fw"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-disabled="!monitoringDetailController.data.id"
                    ng-click="monitoringDetailController.copy()"
            >
              {{'CICONIA_DETAIL_BUTTON_COPY' | translate}}
              <i class="fa fa-copy fa-fw"></i>
            </button>
          </div>
        </div>
        <span ng-if="monitoringDetailController.data.id" translate>CICONIA_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>CICONIA_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <h5 translate>CICONIA_DETAIL_PARAGRAPH_1_TITLE</h5>
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <div class="row">
        <div class="col-md-6">
          <field name="latitude" type="float" required="true"
                 label="{{'CICONIA_DETAIL_LATITUDE' | translate}}"
                 on-select="monitoringDetailController.updateFromModel()"
                 model="monitoringDetailController.data.latitude"></field>
        </div>
        <div class="col-md-6">
          <field name="longitude" type="float" required="true"
                 label="{{'CICONIA_DETAIL_LONGITUDE' | translate}}"
                 on-select="monitoringDetailController.updateFromModel()"
                 model="monitoringDetailController.data.longitude"></field>
        </div>
        <div class="col-md-12">
          <div class="text-right">
            <track-edit ng-model="monitoringDetailController.data.track"></track-edit>
          </div>
          <ui-gmap-google-map
            center="monitoringDetailController.map.center"
            pan="true"
            zoom="monitoringDetailController.map.zoom"
            events="{click: monitoringDetailController.map.click}"
            options="{mapTypeId: 'hybrid', clickableIcons: false}">
            <ui-gmap-polyline
              ng-if="monitoringDetailController.track.length"
              path="monitoringDetailController.track"
              stroke="{color: '#36c', weight: 3}"
              editable="false"
              draggable="false"
              geodesic="true"
              visible="true"
              fit="true"
              static="true"
            ></ui-gmap-polyline>
            <ui-gmap-marker
              ng-if="monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
              coords="monitoringDetailController.map.poi"
              idKey="'coords'"
            ></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5">
      <div class="row">
        <div class="col-md-6">
          <field name="primarySubstrateType" type="single-choice" nomenclature="ciconia_substratum"
                 label="{{'CICONIA_DETAIL_PRIMARY_SUBSTRATE_TYPE' | translate}}"
                 model="monitoringDetailController.data.primarySubstrateType"></field>
        </div>
        <div class="col-md-6">
          <field name="electricityPole" type="single-choice" nomenclature="ciconia_column"
                 label="{{'CICONIA_DETAIL_ELECTRICITY_POLE' | translate}}"
                 model="monitoringDetailController.data.electricityPole"></field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <field name="nestIsOnArtificialPlatform" type="bool"
                 label="{{'CICONIA_DETAIL_NEST_IS_ON_ARTIFICIAL_PLATFORM' | translate}}"
                 model="monitoringDetailController.data.nestIsOnArtificialPlatform"></field>
        </div>
        <div class="col-md-6">
          <field name="typeElectricityPole" type="single-choice" nomenclature="ciconia_column_type"
                 label="{{'CICONIA_DETAIL_TYPE_ELECTRICITY_POLE' | translate}}"
                 model="monitoringDetailController.data.typeElectricityPole"></field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <field name="nestOnArtificialHumanMadePlatform" type="bool"
                 label="{{'CICONIA_DETAIL_NEST_ON_ARTIFICIAL_HUMAN_MADE_PLATFORM' | translate}}"
                 model="monitoringDetailController.data.nestOnArtificialHumanMadePlatform"></field>
        </div>
        <div class="col-md-6">
          <field name="nestIsOnAnotherTypeOfSubstrate" type="text"
                 label="{{'CICONIA_DETAIL_NEST_IS_ON_ANOTHER_TYPE_OF_SUBSTRATE' | translate}}"
                 model="monitoringDetailController.data.nestIsOnAnotherTypeOfSubstrate"></field>
        </div>
      </div>
    </div>
  </div>

  <h5>2.</h5>
  <div class="row">
    <div class="col-md-6">
      <field name="nestThisYearNotUtilizedByWhiteStorks" type="single-choice" nomenclature="ciconia_not_occupied"
             label="{{'CICONIA_DETAIL_NEST_THIS_YEAR_NOT_UTILIZED_BY_WHITE_STORKS' | translate}}"
             model="monitoringDetailController.data.nestThisYearNotUtilizedByWhiteStorks"></field>
    </div>
    <div class="col-md-6">
      <field name="thisYearOneTwoBirdsAppearedInNest" type="single-choice" nomenclature="ciconia_new_birds"
             label="{{'CICONIA_DETAIL_THIS_YEAR_ONE_TWO_BIRDS_APPEARED_IN_NEST' | translate}}"
             model="monitoringDetailController.data.thisYearOneTwoBirdsAppearedInNest"></field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <field name="approximateDateStorksAppeared" type="date"
             label="{{'CICONIA_DETAIL_APPROXIMATE_DATE_STORKS_APPEARED' | translate}}"
             model="monitoringDetailController.data.approximateDateStorksAppeared"></field>
    </div>
    <div class="col-md-6">
      <field name="approximateDateDisappearanceWhiteStorks" type="date"
             label="{{'CICONIA_DETAIL_APPROXIMTE_DATE_STORKS_DISAPPEARED' | translate}}"
             model="monitoringDetailController.data.approximateDateDisappearanceWhiteStorks"></field>
    </div>
  </div>

  <h5 translate>CICONIA_DETAIL_PARAGRAPH_3</h5>
  <div class="row">
    <div class="col-md-6">
      <field name="thisYearInTheNestAppeared" type="single-choice" nomenclature="ciconia_new_birds"
             label="{{'CICONIA_DETAIL_THIS_YEAR_IN_THE_NEST_APPEARED' | translate}}"
             model="monitoringDetailController.data.thisYearInTheNestAppeared"></field>
    </div>
  </div>

  <h5 translate>CICONIA_DETAIL_PARAGRAPH_4</h5>
  <div class="row">
    <div class="col-md-6">
      <field name="countJuvenilesInNest" type="int" min="1"
             label="{{'CICONIA_DETAIL_COUNT_JUVENILES_IN_NEST' | translate}}"
             model="monitoringDetailController.data.countJuvenilesInNest"></field>
    </div>
  </div>

  <h5>5.</h5>
  <div class="row">
    <div class="col-md-6">
      <field name="nestNotUsedForOverOneYear" type="int" min="0"
             label="{{'CICONIA_DETAIL_NEST_NOT_USED_FOR_OVER_ONE_YEAR' | translate}}"
             model="monitoringDetailController.data.nestNotUsedForOverOneYear"></field>
    </div>
  </div>

  <h5 translate>CICONIA_DETAIL_PARAGRAPH_6</h5>
  <div class="row">
    <div class="col-md-6">
      <field name="dataOnJuvenileMortalityFromElectrocutions" type="int" min="0"
             label="{{'CICONIA_DETAIL_DATA_ON_JUVENILE_MORTALITY_FROM_ELECTROCUTIONS' | translate}}"
             model="monitoringDetailController.data.dataOnJuvenileMortalityFromElectrocutions"></field>
    </div>
    <div class="col-md-6">
      <field name="dataOnJuvenileExpelledFromParents" type="int" min="0"
             label="{{'CICONIA_DETAIL_DATA_ON_JUVENILES_EXPELLED_FROM_PARENTS' | translate}}"
             model="monitoringDetailController.data.dataOnJuvenilesExpelledFromParents"></field>
    </div>
    <div class="col-md-6">
      <field name="diedOtherReasons" type="int" min="0"
             label="{{'CICONIA_DETAIL_DIED_OTHER_REASONS' | translate}}"
             model="monitoringDetailController.data.diedOtherReasons"></field>
    </div>
    <div class="col-md-6">
      <field name="reason" type="text"
             label="{{'CICONIA_DETAIL_REASON' | translate}}"
             model="monitoringDetailController.data.reason"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <field name="speciesNotes" type="memo"
             label="{{'CICONIA_DETAIL_SPECIES_NOTES' | translate}}"
             model="monitoringDetailController.data.speciesNotes"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="smartform.$invalid || smartform.$pristine"
                  ng-click="monitoringDetailController.save()"
          >
            {{'CICONIA_DETAIL_BUTTON_SAVE' | translate}}
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-disabled="!monitoringDetailController.data.id"
                  ng-click="monitoringDetailController.copy()"
          >
            {{'CICONIA_DETAIL_BUTTON_COPY' | translate}}
            <i class="fa fa-copy fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
