<hr>

<div class="row">
  <div class="col-md-3">
    <field name="cloudiness" type="single-choice" nomenclature="main_cloud_level"
           label="Облачност"
           model="monitoringDetailController.data.cloudiness"></field>
  </div>
  <div class="col-md-3">
    <field name="rain" type="single-choice" nomenclature="main_rain"
           label="Дъжд"
           model="monitoringDetailController.data.rain"></field>
  </div>
  <div class="col-md-3">
    <field name="windSpeed" type="single-choice" nomenclature="main_wind_force"
           label="Сила на вятъра"
           model="monitoringDetailController.data.windSpeed"></field>
  </div>
  <div class="col-md-3">
    <field name="visibility" type="float"
           label="Видимост (km)"
           model="monitoringDetailController.data.visibility"></field>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <field name="windDirection" type="single-choice" nomenclature="main_wind_direction"
           label="Посока на вятъра"
           model="monitoringDetailController.data.windDirection"></field>
  </div>
  <div class="col-md-3">
    <field name="temperature" type="float"
           label="Температура &deg;C"
           model="monitoringDetailController.data.temperature"></field>
  </div>
  <div class="col-md-3">
    <field name="cloudsType" type="text"
           label="Вид облаци"
           model="monitoringDetailController.data.cloudsType"></field>
  </div>
  <div class="col-md-3">
    <field name="mto" type="text"
           label="МТО Други"
           model="monitoringDetailController.data.mto"></field>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <field name="threats" type="multiple-choice" nomenclature="main_threats"
           label="Заплахи"
           model="monitoringDetailController.data.threats"></field>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <field name="notes" type="memo"
           label="Общи бележки"
           model="monitoringDetailController.data.notes"></field>
  </div>
</div>

<hr>
