<form name="form" role="form">
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">
            Запис
            <i class="fa fa-save fa-fw"></i>
          </button>
        </div>
      </div>
      <h1 class="page-header">Редакция на запис</h1>
    </div>

    <div class="col-md-4">
      <field name="source" type="single-choice" nomenclature="main_source" required="true"
             label="Източник"
             model="monitoringDetailController.data.source"></field>
      <field name="place" type="text" required="true"
             label="Място" help="TODO: which field to use?"
             model="monitoringDetailController.data.place"></field>
    </div>

    <div class="col-md-4">
      <field name="startDate" type="date" required="true"
             label="Начална дата"
             model="monitoringDetailController.data.startDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="startTime" type="time" required="true"
             label="Начален час"
             model="monitoringDetailController.data.startDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="endDate" type="date" required="true"
             label="Крайна дата"
             model="monitoringDetailController.data.endDateTime"></field>
    </div>

    <div class="col-md-4">
      <field name="endTime" type="time" required="true"
             label="Краен час"
             model="monitoringDetailController.data.endDateTime"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <field name="observers" type="text" required="true"
             label="Наблюдатели"
             model="monitoringDetailController.data.observers"></field>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <field name="rain" type="single-choice" nomenclature="main_rain"
             label="Дъжд"
             model="monitoringDetailController.data.rain"></field>
    </div>
    <div class="col-md-3">
      <field name="temperature" type="float"
             label="Температура &deg;C"
             model="monitoringDetailController.data.temperature"></field>
    </div>
    <div class="col-md-3">
      <field name="windSpeed" type="single-choice" nomenclature="main_wind_force"
             label="Сила на вятъра"
             model="monitoringDetailController.data.windSpeed"></field>
    </div>
    <div class="col-md-3">
      <field name="windDirection" type="single-choice" nomenclature="main_wind_direction"
             label="Посока на вятъра"
             model="monitoringDetailController.data.windDirection"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <field name="cloudsType" type="text"
             label="Вид облаци"
             model="monitoringDetailController.data.cloudsType"></field>
    </div>
    <div class="col-md-3">
      <field name="cloudiness" type="single-choice" nomenclature="main_cloud_level"
             label="Облачност"
             model="monitoringDetailController.data.cloudiness"></field>
    </div>
    <div class="col-md-3">
      <field name="mto" type="text"
             label="МТО Други"
             model="monitoringDetailController.data.mto"></field>
    </div>
    <div class="col-md-3">
      <field name="visibility" type="float"
             label="Видимост"
             model="monitoringDetailController.data.visibility"></field>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <field name="threats" type="multiple-choice" nomenclature="main_threats"
             label="Заплахи"
             model="monitoringDetailController.data.threats"></field>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <field name="notes" type="memo"
             label="Бележки"
             model="monitoringDetailController.data.notes"></field>
    </div>
  </div>

</form>
