<div class="row">
  <div class="col-md-12">
    <field name="threats" type="multiple-choice" nomenclature="main_threats"
           label="{{'COMMON_FORM_THREATS' | translate}}"
           model="monitoringDetailController.data.threats"></field>
  </div>
</div>

<div class="row" ng-if="monitoringDetailController.data.hasNotes">
  <div class="col-md-12">
    <field name="speciesNotes" type="memo"
           label="{{'COMMON_SPECIES_NOTES' | translate}}"
           model="monitoringDetailController.data.speciesNotes"></field>
  </div>
</div>
