<div class="row">
  <div class="col-md-6">
    <field name="latitude" type="geolocation.latitude" required="true"
           label="{{::'DETAIL_LATITUDE' | translate}}"
           on-select="monitoringDetailController.updateFromModel(null, {longitude: longitude, accuracy: accuracy})"
           autofill="!monitoringDetailController.data.id"
           model="monitoringDetailController.data.latitude"></field>
  </div>
  <div class="col-md-6">
    <field name="longitude" type="geolocation.longitude" required="true"
           label="{{::'DETAIL_LONGITUDE' | translate}}"
           on-select="monitoringDetailController.updateFromModel(null, {latitude: latitude, accuracy: accuracy})"
           autofill="!monitoringDetailController.data.id"
           model="monitoringDetailController.data.longitude"></field>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="form-group col-xs-8">
        <label class="control-label">{{::'DETAIL_ACCURACY' | translate}}</label>
        <p class="form-control-static">
          <span ng-if="monitoringDetailController.data.geolocationAccuracy">{{monitoringDetailController.data.geolocationAccuracy | number:0}}m</span>
          <span ng-if="!monitoringDetailController.data.geolocationAccuracy">-</span>
        </p>
      </div>
      <div class="text-right col-xs-4">
        <track-edit ng-model="monitoringDetailController.data.track"></track-edit>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <ui-gmap-google-map
      center="monitoringDetailController.map.center"
      pan="true"
      zoom="monitoringDetailController.map.zoom"
      events="{click: monitoringDetailController.map.click}"
      options="{mapTypeId: 'hybrid', clickableIcons: false}">
      <ui-gmap-polygon
        ng-if="monitoringDetailController.data.getZone && monitoringDetailController.data.getZone().coordinates.length"
        path="monitoringDetailController.data.getZone().coordinates"
        static="true"
        fill="{color: '#00f', opacity: 0.7}"
        stroke="{color: '#00f', opacity: 1, weight: 3}"
        geodesic="true"
        fit="false"
        events="{click: monitoringDetailController.map.click}"
      ></ui-gmap-polygon>
      <ui-gmap-polyline
        ng-if="monitoringDetailController.track.length"
        path="monitoringDetailController.track"
        stroke="{color: '#36c', weight: 3}"
        editable="false"
        draggable="false"
        geodesic="true"
        visible="true"
        fit="true"
        static="true"
      ></ui-gmap-polyline>
      <ui-gmap-circle
        ng-if="monitoringDetailController.data.geolocationAccuracy && monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
        center="monitoringDetailController.map.poi"
        radius="monitoringDetailController.data.geolocationAccuracy"
        fill="{color: '#f00', opacity: 0.3}"
        stroke="{color: '#f00', opacity: 1, weight: 1}"
        clickable="false"
        draggable="false"
        editable="false"
        visible="true"
        ></ui-gmap-circle>
      <ui-gmap-marker
        ng-if="monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
        coords="monitoringDetailController.map.poi"
        idKey="'coords'"
      ></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
