<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'HERPTILES_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
      confirm-message-route="{{'HERPTILES_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="smartform.$invalid || smartform.$pristine"
                    ng-click="monitoringDetailController.save()"
            >
              {{'HERPTILES_DETAIL_BUTTON_SAVE' | translate}}
              <i class="fa fa-save fa-fw"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-disabled="!monitoringDetailController.data.id"
                    ng-click="monitoringDetailController.copy()"
            >
              {{'HERPTILES_DETAIL_BUTTON_COPY' | translate}}
              <i class="fa fa-copy fa-fw"></i>
            </button>
          </div>
        </div>
        <span ng-if="monitoringDetailController.data.id" translate>HERPTILES_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>HERPTILES_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-8 col-lg-7">
      <div class="row">
        <div class="col-md-6">
          <field name="latitude" type="float" required="true"
                 label="{{'HERPTILES_DETAIL_LATITUDE' | translate}}"
                 on-select="monitoringDetailController.updateFromModel()"
                 model="monitoringDetailController.data.latitude"></field>
        </div>
        <div class="col-md-6">
          <field name="longitude" type="float" required="true"
                 label="{{'HERPTILES_DETAIL_LONGITUDE' | translate}}"
                 on-select="monitoringDetailController.updateFromModel()"
                 model="monitoringDetailController.data.longitude"></field>
        </div>
        <div class="col-md-12">
          <div class="text-right">
            <track-edit ng-model="monitoringDetailController.data.track"></track-edit>
          </div>
          <ui-gmap-google-map
            center="monitoringDetailController.map.center"
            pan="true"
            zoom="monitoringDetailController.map.zoom"
            events="{click: monitoringDetailController.map.click}"
            options="{mapTypeId: 'hybrid', clickableIcons: false}">
            <ui-gmap-polyline
              ng-if="monitoringDetailController.track.length"
              path="monitoringDetailController.track"
              stroke="{color: '#36c', weight: 3}"
              editable="false"
              draggable="false"
              geodesic="true"
              visible="true"
              fit="true"
              static="true"
            ></ui-gmap-polyline>
            <ui-gmap-marker
              ng-if="monitoringDetailController.map.poi.latitude && monitoringDetailController.map.poi.longitude"
              coords="monitoringDetailController.map.poi"
              idKey="'coords'"
            ></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <field name="species" type="species" nomenclature="herptiles" required="true"
                 label="{{'HERPTILES_DETAIL_SPECIES' | translate}}"
                 model="monitoringDetailController.data.species"></field>
        </div>
        <div class="col-md-4 col-lg-4">
          <field name="count" type="int" min="1" required="true"
                 ng-init="monitoringDetailController.data.count=1"
                 label="{{'HERPTILES_DETAIL_COUNT' | translate}}"
                 model="monitoringDetailController.data.count"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="age" type="single-choice" nomenclature="herptiles_age"
                 label="{{'HERPTILES_DETAIL_AGE' | translate}}"
                 model="monitoringDetailController.data.age"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="sex" type="single-choice" nomenclature="herptiles_gender"
                 label="{{'HERPTILES_DETAIL_SEX' | translate}}"
                 model="monitoringDetailController.data.sex"></field>
        </div>
        <div class="col-md-12 col-lg-12">
          <field name="habitat" type="single-choice" nomenclature="herptiles_habitat"
                 label="{{'HERPTILES_DETAIL_HABITAT' | translate}}"
                 model="monitoringDetailController.data.habitat"></field>
        </div>
        <div class="col-md-12 col-lg-12">
          <field name="threatsHerptiles" type="multiple-choice" nomenclature="herptiles_danger_observation"
                 label="{{'HERPTILES_DETAIL_THREATS' | translate}}"
                 model="monitoringDetailController.data.threatsHerptiles"></field>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <field name="marking" type="text"
             label="{{'HERPTILES_DETAIL_MARKING' | translate}}"
             model="monitoringDetailController.data.marking"></field>
    </div>
    <div class="col-md-4">
      <field name="axisDistance" type="float" min="0"
             label="{{'HERPTILES_DETAIL_AXIS_DISTANCE' | translate}}"
             model="monitoringDetailController.data.axisDistance"></field>
    </div>
    <div class="col-md-4">
      <field name="weight" type="float" min="0"
             label="{{'HERPTILES_DETAIL_WEIGHT' | translate}}"
             model="monitoringDetailController.data.weight"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <field name="sCLL" type="float" min="0"
             label="{{'HERPTILES_DETAIL_SCLL' | translate}}"
             model="monitoringDetailController.data.sCLL"></field>
    </div>
    <div class="col-md-3">
      <field name="mPLLcdC" type="float" min="0"
             label="{{'HERPTILES_DETAIL_MPL_LCD_C' | translate}}"
             model="monitoringDetailController.data.mPLLcdC"></field>
    </div>
    <div class="col-md-3">
      <field name="mCWA" type="float" min="0"
             label="{{'HERPTILES_DETAIL_MCW_A' | translate}}"
             model="monitoringDetailController.data.mCWA"></field>
    </div>
    <div class="col-md-3">
      <field name="hLcapPl" type="float" min="0"
             label="{{'HERPTILES_DETAIL_H_LCAP_PL' | translate}}"
             model="monitoringDetailController.data.hLcapPl"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="sqVentr" type="float" min="0"
             label="{{'HERPTILES_DETAIL_SQ_VENTR' | translate}}"
             model="monitoringDetailController.data.sqVentr"></field>
    </div>
    <div class="col-md-4">
      <field name="sqCaud" type="float" min="0"
             label="{{'HERPTILES_DETAIL_SQ_CAUD' | translate}}"
             model="monitoringDetailController.data.sqCaud"></field>
    </div>
    <div class="col-md-4">
      <field name="sqDors" type="float" min="0"
             label="{{'HERPTILES_DETAIL_SQ_DORS' | translate}}"
             model="monitoringDetailController.data.sqDors"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="tempSubstrat" type="float" min="-273.15"
             label="{{'HERPTILES_DETAIL_TEMP_SUBSTRAT' | translate}}"
             model="monitoringDetailController.data.tempSubstrat"></field>
    </div>
    <div class="col-md-4">
      <field name="tempAir" type="float" min="-273.15"
             label="{{'HERPTILES_DETAIL_TEMP_AIR' | translate}}"
             model="monitoringDetailController.data.tempAir"></field>
    </div>
    <div class="col-md-4">
      <field name="tempCloaca" type="float" min="-273.15"
             label="{{'HERPTILES_DETAIL_TEMP_CLOACA' | translate}}"
             model="monitoringDetailController.data.tempCloaca"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <field name="speciesNotes" type="memo"
             label="{{'HERPTILES_DETAIL_SPECIES_NOTES' | translate}}"
             model="monitoringDetailController.data.speciesNotes"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="smartform.$invalid || smartform.$pristine"
                  ng-click="monitoringDetailController.save()"
          >
            {{'HERPTILES_DETAIL_BUTTON_SAVE' | translate}}
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-disabled="!monitoringDetailController.data.id"
                  ng-click="monitoringDetailController.copy()"
          >
            {{'HERPTILES_DETAIL_BUTTON_COPY' | translate}}
            <i class="fa fa-copy fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
