<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="Имате незаписани промени!"
      confirm-message-route="Имате незаписани промени. Сигурни ли сте че искате да продължите?">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-right">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="smartform.$invalid || smartform.$pristine"
                    ng-click="monitoringDetailController.save()"
            >
              Запис
              <i class="fa fa-save fa-fw"></i>
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-disabled="!monitoringDetailController.data.id"
                    ng-click="monitoringDetailController.copy()"
            >
              Копие
              <i class="fa fa-copy fa-fw"></i>
            </button>
          </div>
        </div>
        <span ng-if="monitoringDetailController.data.id">Редакция на запис</span>
        <span ng-if="!monitoringDetailController.data.id">Нов запис</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-9">
      <field name="species" type="species" nomenclature="herp_name" required="true"
             label="Вид научно име"
             model="monitoringDetailController.data.species"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="count" type="int" min="1" required="true" 
             ng-init="monitoringDetailController.data.count=1"
             label="Брой"
             model="monitoringDetailController.data.count"></field>
    </div>
    <div class="col-md-4">
      <field name="sex" type="single-choice" nomenclature="herp_gender"
             label="Пол"
             model="monitoringDetailController.data.sex"></field>
    </div>
    <div class="col-md-4">
      <field name="age" type="single-choice" nomenclature="herp_age"
             label="Възраст"
             model="monitoringDetailController.data.age"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <field name="habitat" type="single-choice" nomenclature="herp_habitat"
             label="Местообитание"
             model="monitoringDetailController.data.habitat"></field>
    </div>
    <div class="col-md-6">
      <field name="threatsHerps" type="multiple-choice" nomenclature="herp_danger_observation"
             label="Заплахи, констатации"
             model="monitoringDetailController.data.threatsHerps"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="marking" type="text"
             label="Маркировка"
             model="monitoringDetailController.data.marking"></field>
    </div>
    <div class="col-md-4">
      <field name="axisDistance" type="float"
             label="Разстояние от оста"
             model="monitoringDetailController.data.axisDistance"></field>
    </div>
    <div class="col-md-4">
      <field name="weight" type="float"
             label="Тегло (g)"
             model="monitoringDetailController.data.weight"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="sCLL" type="float"
             label="SCL/L (mm)"
             model="monitoringDetailController.data.sCLL"></field>
    </div>
    <div class="col-md-4">
      <field name="mPLLcdC" type="float"
             label="MPL/Lcd/C (mm)"
             model="monitoringDetailController.data.mPLLcdC"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="mCWA" type="float"
             label="MCW/A (mm)"
             model="monitoringDetailController.data.mCWA"></field>
    </div>
    <div class="col-md-4">
      <field name="hLcapPl" type="float"
             label="H /Lcap/Pl (mm)"
             model="monitoringDetailController.data.hLcapPl"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="tempSubstrat" type="float"
             label="T на субстрата"
             model="monitoringDetailController.data.tempSubstrat"></field>
    </div>
    <div class="col-md-4">
      <field name="tempAir" type="float"
             label="T на в-ха"
             model="monitoringDetailController.data.tempAir"></field>
    </div>
    <div class="col-md-4">
      <field name="tempCloaca" type="float"
             label="T на клоака"
             model="monitoringDetailController.data.tempCloaca"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <field name="sqVentr" type="float"
             label="Sq ventr"
             model="monitoringDetailController.data.sqVentr"></field>
    </div>
    <div class="col-md-4">
      <field name="sqCaud" type="float"
             label="Sq caud"
             model="monitoringDetailController.data.sqCaud"></field>
    </div>
    <div class="col-md-4">
      <field name="sqDors" type="float"
             label="Sq dorss"
             model="monitoringDetailController.data.sqDors"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <field name="speciesNotes" type="memo"
             label="Бележки"
             model="monitoringDetailController.data.speciesNotes"></field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="smartform.$invalid || smartform.$pristine"
                  ng-click="monitoringDetailController.save()"
          >
            Запис
            <i class="fa fa-save fa-fw"></i>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-disabled="!monitoringDetailController.data.id"
                  ng-click="monitoringDetailController.copy()"
          >
            Копие
            <i class="fa fa-copy fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
