<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'PLANTS_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
      confirm-message-route="{{'PLANTS_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="actions actions-detail">
    <form-detail-buttons monitoring-detail-controller="monitoringDetailController"></form-detail-buttons>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <span ng-if="monitoringDetailController.data.id" translate>PLANTS_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>PLANTS_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-7 col-lg-6" ng-include="'/views/monitorings/geolocation.html'"></div>

    <div class="col-md-5 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <field name="species" type="species" nomenclature="plants" required="true"
                 label="{{'PLANTS_DETAIL_SPECIES' | translate}}"
                 help="{{'PLANTS_DETAIL_SPECIES_HELP' | translate}}"
                 model="monitoringDetailController.data.species"></field>
        </div>
        <div class="col-md-5 col-lg-6">
          <field name="elevation" type="int"
                 label="{{'PLANTS_DETAIL_ELEVATION' | translate}}"
                 on-select="monitoringDetailController.updateFromModel()"
                 model="monitoringDetailController.data.elevation"></field>
        </div>
        <div class="col-md-7 col-lg-6">
          <field name="confidential" type="bool"
                 label="{{'PLANTS_DETAIL_CONFIDENTIAL' | translate}}"
                 model="monitoringDetailController.data.confidential"></field>
        </div>
        <div class="col-md-12 col-lg-12">
          <field name="reportingUnit" type="single-choice" nomenclature="plants_reporting_unit"
                 label="{{'PLANTS_DETAIL_REPORTING_UNIT' | translate}}"
                 model="monitoringDetailController.data.reportingUnit"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="count" type="int" min="1"
                 label="{{'PLANTS_DETAIL_COUNT' | translate}}"
                 model="monitoringDetailController.data.count"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="density" type="float"
                 label="{{'PLANTS_DETAIL_DENSITY' | translate}}"
                 model="monitoringDetailController.data.density"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="cover" type="float"
                 label="{{'PLANTS_DETAIL_COVER' | translate}}"
                 model="monitoringDetailController.data.cover"></field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <field name="accompanyingSpecies" type="multiple-species" nomenclature="plants"
             label="{{'PLANTS_DETAIL_ACCOMPANYING_SPECIES' | translate}}"
             model="monitoringDetailController.data.accompanyingSpecies"></field>
    </div>
    <div class="col-md-6 col-lg-6">
      <field name="phenologicalPhase" type="single-choice" nomenclature="plants_phenological_phase"
             label="{{'PLANTS_DETAIL_PHENOLOGICAL_PHASE' | translate}}"
             model="monitoringDetailController.data.phenologicalPhase"></field>
    </div>
    <div class="col-md-6 col-lg-6">
      <field name="habitat" type="single-choice" nomenclature="plants_habitat"
             label="{{'PLANTS_DETAIL_HABITAT' | translate}}"
             model="monitoringDetailController.data.habitat"></field>
    </div>
  </div>

  <div ng-include="'/views/monitorings/footer.html'"></div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

</form>
