<ng-include src="'/views/layout/navbar.html'"></ng-include>

<div class="container static-page">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12">
      <h1 class="page-header">
        {{'GDPR_TITLE'|translate}}
        <small>{{'GDPR_SUBTITLE'|translate}}</small>
      </h1>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-12">
      <ng-include src="'/views/gdpr/gdpr.html'"></ng-include>
    </div>
  </div>
</div>

<ng-include src="'/views/layout/footer.html'" class="home"></ng-include>
